{{ $publishdate:= .Params.publishdate }}
{{ with $publishdate }}
  {{ $publishdate = (print (.Format "2006-01-02")) }}
{{else}}
{{ with .File }}
  {{ with .Path }}
    {{ $url := print "/data/" . ".json"}}
    {{ if (fileExists $url) -}}
      {{ $publishdate = (getJSON $url).publishdate }}
    {{ end }}
  {{ end }}
{{ end }}
{{ end }}
<ul class="authors">
{{ with .Params.authors }}
    {{ range . }}
    {{- template "blog-author" dict "name" .name "email" .email "avatar" .avatar -}}
    {{ end }}
{{else}}
{{- with .File -}}
  {{- with .Path -}}
    {{- $url := print "/data/" . ".json" -}}
    {{- if (fileExists $url) -}}
      {{- $data := (getJSON $url) -}}
      {{ with $data.author }}
      {{- template "blog-author" dict "name" .name "email" .email "avatar" .avatar_url -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end }}
{{- end }}
</ul>
{{with $publishdate }}
<span class="publishdate" data-publishdate="{{ . | safeHTMLAttr }}">{{. | safeHTML}}</span>
{{end}}

{{- define "blog-author" -}}
{{- $name := .name -}}
{{- $email := .email -}}
{{- $avatar := .avatar -}}
{{- $publishdate := .publishdate -}}
<li class="author">
{{with $avatar}}
{{with $email }}<a href="mailto:{{$email | safeHTMLAttr }}">{{end}}
  <img {{ printf "src=%q" . | safeHTMLAttr }}
    class="user-icon icons"
    alt="blog author avatar">
{{else}}
  <div style="width:10px;height:10px;"></div>
{{end}}
{{with $name }}
  <span class="name">{{ $name | safeHTML}}</span>
{{with $email }}</a>{{end}}
{{end}}
</li>
{{- end -}}