<div class="bio">
    <img src='{{"images/gardener-logo-light.svg" | relURL}}' alt="Logo" class="logo">

    <h3>Gardener</h3>
    <a>Homogeneous Kubernetes clusters at scale on any infrastructure.<a>
        <div class="social">
            <a target="_blank" href="https://www.youtube.com/channel/UCwUhwKFREV8Su0gwAJQX7tw">
                <img src='{{"images/community/youtube-logo-green.svg" | relURL}}' class="bio-icon" />
            </a>
            <a target="_blank" href="https://twitter.com/GardenerProject">
                <img src='{{"images/community/twitter-logo-green.svg" | relURL}}' class="bio-icon" />
            </a>
        </div>
        <div class="blocks">
            <div class="block" onclick="location.href='/'">
                <img src='{{"images/gardener-logo.svg" | relURL}}' class="bio-icon" />
                <a href="/">Home page</a>
            </div>
            <div class="block" onclick="location.href='https://github.com/gardener'">
                <img src='{{"images/community/github-mark-logo-green.svg" | relURL}}' class="bio-icon" />
                <a href="https://github.com/gardener">Github</a>
            </div>
            <div class="block" onclick="location.href='https://gardener-cloud.slack.com'">
                <img src='{{"images/community/slack-logo-green.svg" | relURL}}' class="bio-icon" />
                <a href="https://gardener-cloud.slack.com">Slack</a>
            </div>
            <div class="block" onclick="location.href='https://www.youtube.com/watch?v=uMZTYFb2_tY'">
                <img src='{{"images/community/youtube-logo-green.svg" | relURL}}' class="bio-icon" />
                <a href="https://www.youtube.com/watch?v=uMZTYFb2_tY">Gardener in 25 seconds</a>
            </div>
            <div class="block" onclick="location.href='/adopter'">
                <img src='{{"images/community/comms-community-meetings.svg" | relURL}}' class="bio-icon" />
                <a href="/adopter">Adopters</a>
            </div>
        </div>
</div>