{{ $componentSection:= . }}
{{ $componentVersion:= print (partial "component_version.html" $componentSection) }}
{{ $componentTitle:= print (partial "component_title.html" $componentSection) }}
{{ $componentDetails := print $componentTitle " " $componentVersion }}
{{ $componentURL:= print (partial "component_url.html" $componentSection) }}
<li title="{{- $componentDetails -}}" class="version navbar-link">
    {{- $url := print "/data/components.json" -}}
    {{- if (fileExists $url) -}}
      {{ $components:= getJSON $url }}
      {{with $components}}
  <div class="component-details" title="{{$componentTitle}} {{ $componentVersion -}}">
    <span>{{$componentTitle}}</span>
        {{ $comps:= where . "title" $componentTitle }}
        {{if eq (len $comps) 1 }}
    <span>{{$componentVersion}}</span>
        {{ else }}
    <select id="component-version-selector" class="version-selector">
        {{- range $i, $comp := $comps -}}
        {{ $isSelected := eq $comp.version $componentVersion }}
      <option value='{{- printf "%s-%s" $comp.name $comp.version -}}'{{- if $isSelected }} selected{{- end -}}>{{ $comp.version -}}</option>
        {{- end -}}
    </select>
    <script>
      $("#component-version-selector").change(function(){
          window.location = "/" + $(this).val()
      })
    </script>
        {{ end }}
  </div>
  <a href="{{$componentURL}}/tree/{{$componentVersion}}" target="_blank" title="GitHub Repository">
    <img src="/images/github-mark-logo.png"/>
  </a>
      {{- end -}}
    {{- end -}}
</li>