<style>
 
</style>
<footer class="footer">
  <div class="container footer-wrapper">
    <ul class="nav">
      {{- with .Site.GetPage "section" "documentation/020_getting-started" -}}
      <li><a href="{{ .URL }}">{{.Title}}</a></li>
      {{- end -}}
      {{- with .Site.GetPage "section" "blog" -}}
      <li><a href="{{ .URL }}">{{.Title}}</a></li>
      {{- end -}}
      <li>News</li>
      {{- with .Site.GetPage "section" "documentation" -}}
      <li><a href="{{ .URL }}">Documentation</a></li>
      {{- end -}}
      {{- with .Site.GetPage "section" "community" -}}
      <li><a href="{{ .URL }}">{{.Title}}</a></li>
      {{- end -}}
    </ul>
    <img src="{{"images/lp/gardener-logo.svg" | relURL}}" alt="Logo Gardener" class="logo"/>
    <ul class="media-wr">
      <li>
        <a target="_blank" href="https://kubernetes.slack.com/archives/CB57N0BFG">
          <img src="{{"images/branding/slack-logo-white.svg" | relURL}}" class="media-icon"/>
          <div class="media-text">Slack</div>
        </a>
      </li>          
      <li>
        <a target="_blank" href="https://github.com/gardener">
          <img src="{{"images/branding/github-mark-logo.png" | relURL}}" class="media-icon" />
          <div class="media-text">GitHub</div>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.youtube.com/channel/UCwUhwKFREV8Su0gwAJQX7tw">
          <img src="{{"images/branding/youtube-logo-dark.svg" | relURL}}" class="media-icon" />
          <div class="media-text">YouTube</div>
        </a>
      </li>                      
      <li>
        <a target="_blank" href="https://twitter.com/GardenerProject">
          <img src="{{"images/branding/twitter-logo-white.svg" | relURL}}" class="media-icon" />
          <div class="media-text">Twitter</div>
        </a>
      </li>
    </ul>
    <span class="copyright">Copiright 2019 Gardener project authors. Privacy Statement</span>
  </div>
</footer>
