{{ $pageUrl := $.Params.remote }}
{{ with .Params.remote }}
{{ else }}
    {{ $pageUrl = replace $.Site.Params.issueURL "issue" "" }}
{{ end }}
{{ $l := 0 }}
{{ with .Params.authors}}
  {{ $l = len .}}
  {{ if gt $l 1 }}
    {{ $l = sub $l 1 }}
  {{end}}
{{else}}
{{- with .File -}}
  {{- with .Path -}}  
    {{- $url := print "/data/" . ".json" -}}
    {{- if (fileExists $url) -}}
      {{- $data := (getJSON $url) -}}
      {{ with  $data.contributors }}
      {{- $l = len . -}}
      {{else }}
      {{end }}
    {{- end -}}
  {{- end -}}
{{- end }}
{{- end }}
{{ if $l }}
<a href="{{$pageUrl}}" class="contributors-count">+ {{$l}} more <i class="fa fa-external-link"></i></a>
{{ end }}
