{{ if .Params.author | and .Params.email }}
  <a href='mailto:{{.Params.email}}'>{{.Params.author}}</a>
{{else}}
{{- with .File -}}
  {{- with .Path -}}
    {{- $url := print "/data/" . ".json" -}}
    {{- if (fileExists $url) -}}
      {{- $scratch := newScratch -}}
      {{- $data := (getJSON $url) -}}
      {{ with $data.author }}
      {{- $scratch.Add "authors" (slice (printf "<a href='mailto:%s'>%s</a>" .email .name)) -}}
      {{end}}
      {{- range $data.contributors -}}
      {{- $scratch.Add  "authors" (slice (printf "<a href='mailto:%s'>%s</a>" .email .name)) -}}
      {{end}}
      {{- with ($scratch.Get "authors") -}}
      {{- delimit .  "," -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end }}
{{- end }}