            <div class="howto_tickets">
                {{ $currentNode := . }}
                {{ $pageName := $currentNode.Title }}
                {{ $pageUrl := (printf "%s/%s/%s" $.Site.Params.issueURL "new" "choose")}}
                {{ with $currentNode.Params.remote }}
                    {{ $url := urls.Parse $currentNode.Params.remote}}
                    {{ $path := $url.Path }}
                    {{/*  {{ partial "debugprint.html" $url}}  */}}
                    {{ $pathSegments := split $path "/" }}
                    {{ $org := index $pathSegments 1 }}
                    {{ $repo := (replace (index $pathSegments 2) ".git" "") }}
                    {{ $pageUrl = (printf "%s://%s/%s/%s/%s" $url.Scheme $url.Host $org $repo "issues/new/choose")}}
                {{ end }}
                <a href="{{$pageUrl}}" target="_blank">
                    <span>Let us know how can we improve.</span>
                    <span>Open <img src="{{.Site.BaseURL}}images/branding/github-mark-logo-green.svg"/> GitHub Issue <i class="fa fa-external-link" aria-hidden="true"></i></span>
                </a>
            </div>