<div class="section-index">
    {{ $pages := (where .Site.Pages "Section" .Section).ByWeight }}
    {{ $pages = (where $pages "Type" "!=" "search") }}
    {{ $parent := .Page }}
    {{ if $parent.Params.no_list }}
    {{/* If no_list is true we don't show a list of subpages */}}
    {{ else if $parent.Params.simple_list }}
    {{/* If simple_list is true we show a bulleted list of subpages */}}
        <ul>
            {{ range $pages }}
                {{ if eq .Parent $parent }}
                    {{ $manualLink := cond (isset .Params "manuallink") .Params.manualLink ( cond (isset .Params "manuallinkrelref") (relref . .Params.manualLinkRelref) .RelPermalink) }}
                    <li><a href="{{ $manualLink }}"{{ with .Params.manualLinkTitle }} title="{{ . }}"{{ end }}{{ with .Params.manualLinkTarget }} target="{{ . }}"{{ if eq . "_blank" }} rel="noopener"{{ end }}{{ end }}>{{- .Title -}}</a></li>
                {{ end }}
            {{ end }}
        </ul>
    {{ else }}
    {{/* Otherwise we show a nice formatted list of subpages with page descriptions */}}

    {{$catMap := dict}}
    {{/* Custom cascade with merge instead of override*/}}
    {{ range sort .Site.Pages ".Permalink" "asc" }}
      {{ $propagatedCategories := .Params.categories }}
      {{ $permalink := .Permalink}}
      {{/* Iterate catMap and search for parent node(current Permalink begins with interated Permalink) */}}
      {{/* Merge propagated categories with parents categories */}}
      {{ range $parentPermalink,$parentCategories := $catMap }}
        {{ if hasPrefix $permalink $parentPermalink}}
          {{ $propagatedCategories = union $parentCategories $propagatedCategories }}
        {{ end }}
      {{ end }}
      {{$catMap = merge $catMap (dict .Permalink $propagatedCategories)}}
    {{ end }}
    {{/* Bottom up parent category merge*/}}
    {{ range sort .Site.Pages ".Permalink" "desc" }}
      {{if .Parent}}
        {{ $parentPath := .Parent.Permalink}}
        {{$catMap = merge $catMap (dict $parentPath (union (index $catMap $parentPath) (index $catMap .Permalink) )) }}
      {{end}}
    {{end}}

    <hr class="panel-line">
        {{ range $pages }}
            {{ if eq .Parent $parent}}
                {{ $manualLink := cond (isset .Params "manuallink") .Params.manualLink ( cond (isset .Params "manuallinkrelref") (relref . .Params.manualLinkRelref) .RelPermalink) }}
                <div class="entry">
                    <h5>
                        <a href="{{ $manualLink }}"{{ with .Params.manualLinkTitle }} title="{{ . }}"{{ end }}{{ with .Params.manualLinkTarget }} target="{{ . }}"{{ if eq . "_blank" }} rel="noopener"{{ end }}{{ end }}>{{- .Title -}}</a>
                    </h5>
                    <p>{{ .Description | markdownify }}
                        {{ with index $catMap .Permalink }}
                          <span style="display: none;">Relevant for:
                              <span class="entry-roles">
                                {{ range $index, $el := . }}
                                {{ if $index }},{{ end }}
                                <i>{{ . }}</i>
                              {{ end }}
                              </span>
                          </span>
                        {{end}}
                     </p>
                </div>
            {{ end }}
        {{ end }}
     {{ end }}
     <script>
      const roleSelected = window.sessionStorage.getItem("role_selected")
      const sectionEntries = document.querySelectorAll(".section-index .entry-roles")

      if(roleSelected == null || roleSelected == "All"){
        sectionEntries.forEach((el) => {
          const entry = el.parentElement.parentElement.parentElement
          entry.style.display = "block"
        })
      }
      else {
        sectionEntries.forEach((el) => {
          let elRoles = Array.from(el.querySelectorAll("i")).map(iel => iel.innerHTML)
          const entry = el.parentElement.parentElement.parentElement
          if(!elRoles.includes(roleSelected)){
            entry.style.display = "none"
          }else {
            entry.style.display = "block"
          }
        })
      }
    </script>

</div>
