<nav id="sidebar" class="collapsed container menu">
    {{ $style := resources.Get "sass/sidebar.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
{{ $currentNode := . }}
    <div class="highlightable">
        <ul class="topics">
        {{- $done:= false -}}  
        {{- range $index, $page :=  sort .Site.Pages ".Dir" "desc" -}}
          {{- if and (.IsAncestor $currentNode) (eq .Params.sidebar true) (eq $done false) -}}
          {{ $done = true }}
          {{- template "sidebar-tree-nav" dict "sect" . "currentnode" $currentNode "maxTreeDepth" 5 "treeDepth" 0 -}}
          {{- end -}}
        {{- end -}}
        </ul>
    </div>
</nav>
<a href="#" class="menu-toggler"><span class="icon-arrowright"></span></a>

<!-- templates -->
{{- define "sidebar-tree-nav" -}}
{{- $currentNode := .currentnode -}}
{{- $maxTreeDepth := .maxTreeDepth -}}
{{- $treeDepth := .treeDepth -}}
{{- with .sect -}}
    {{- if .IsSection -}}
    {{- $isParent:= or (.IsAncestor $currentNode) (.Params.alwaysopen) -}}
    {{- $hiddenChildrenCount:= len (where .Pages ".Params.hidden" true) -}}
    {{- $childrenCount:= (len .Pages) -}}
    {{- $isContainer:= and (gt $childrenCount 0) (gt $childrenCount $hiddenChildrenCount) -}}
    <li data-nav-id="{{.URL}}" title="{{.Title}}" class="dd-item 
        {{- if $isParent }} parent{{- end -}}
        {{- if eq .UniqueID $currentNode.UniqueID }} active{{- end -}}
        {{- if (eq $treeDepth 1) }} top-level{{- end -}}
        {{- if (eq $treeDepth 0) }} root {{ end -}}
        {{- if $isContainer }} collapsible{{- if not ($isParent) }} collapsed{{ end -}}{{end -}}
        " data-depth="{{$treeDepth}}">
        <a href="{{- (or .Params.remoteUrl .Params.redirectUrl .Permalink) | relURL -}}">
        {{- if (ne $treeDepth 0) -}}
            {{- if $isContainer }} 
            {{- if $isParent }}
            <span class="toggle icon-arrowdown"></span>
            {{- else -}}
            <span class="toggle icon-arrowright"></span>
            {{- end -}}
            {{- else -}}
            <span class="toggle"></span>
            {{- end -}}
        {{- end -}}            
            <span class="menu-item-text">{{- or .Params.menuTitle .LinkTitle .Title -}}{{- safeHTML .Params.Post -}}</span>
        </a>
        {{- $numberOfPages := len .Pages -}}
        {{- if (and (not .Params.aggregate) (ne $numberOfPages 0)) -}}
            <ul {{- if .Parent.IsHome }} style="padding-left:0"{{ end -}}>
            {{- range .Pages -}}
                {{- if .Params.hidden -}}
                {{- else -}}
                    {{- $depth := (add $treeDepth 1) -}}
                    {{- if not (gt $depth $maxTreeDepth) -}}
                    {{- template "sidebar-tree-nav" dict "sect" . "currentnode" $currentNode "maxTreeDepth" $maxTreeDepth "treeDepth" $depth -}}
                    {{- end -}}
                {{- end -}}
            {{- end -}}
            </ul>
        {{- end -}}
    </li>
    {{- else -}}
        <li data-nav-id="{{.URL}}" title="{{.Title}}" class="dd-item{{- if (eq $treeDepth 1) }} top-level{{- end -}}{{- if eq .UniqueID $currentNode.UniqueID}} active{{end -}}"  data-depth="{{$treeDepth}}">
        <a href="{{- (or .Params.remoteUrl .Params.redirectUrl .Permalink) | relURL -}}">
            <span class="toggle"></span><span class="menu-item-text"></span>{{- safeHTML .Params.head -}}{{- or .Params.menuTitle .LinkTitle .Title -}}{{- safeHTML .Params.Post -}}</span></a>
        </a>
    </li>
    {{- end -}}
{{- end -}}
{{- end -}}
<script>
    $(document).ready(function(){
        $("#sidebar .dd-item:not(.top-level):not(.parent)").hide();
        $("#sidebar .dd-item.parent").siblings(".dd-item").show();
        $('.dd-item', "#sidebar .dd-item.parent").show();

        //collapsed sidebar button
        $(".menu-toggler").click(function(evt){
            $("#sidebar").toggleClass("collapsed");
            $(".menu-toggler span").toggleClass("icon-arrowleft");
            $(".menu-toggler span").toggleClass("icon-arrowright");
        });
    })
</script>