{{ $assetBusting := not .Site.Params.disableAssetsBusting }}
<script src="{{"js/jquery.sticky.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
<script src="{{"js/modernizr.custom.min.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
<script src="{{"js/code-snippets.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
<script>

  $(document).ready(function () {
    inlineSVG.init();

    $("[data-publishdate]").each(function () {
      $(this).text(moment($(this, "YYYY-MM-DD", "YYYY-MM-DD hh:mm:ss").attr("data-publishdate")).fromNow());
    });

    new ClipboardJS('.clipboard-copy');

    $("body").codeSnippets();
  });
</script>

{{ partial "google-tags-manager-frame.html" . }}