    {{ $assetBusting := not .Site.Params.disableAssetsBusting }}
    <script src="{{"js/perfect-scrollbar.min.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script src="{{"js/perfect-scrollbar.jquery.min.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script src="{{"js/jquery.sticky.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script src="{{"js/featherlight.min.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script src="{{"js/html5shiv-printshiv.min.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script src="{{"js/highlight.pack.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{{"js/modernizr.custom.71422.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>

    <link href="{{"mermaid/mermaid.css" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}" type="text/css" rel="stylesheet" />
    <script src="{{"mermaid/mermaid.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script>
      mermaid.initialize({ startOnLoad: true, htmlLables: true });
      function createIssue(issueUrl, page, url) {
          var uri = issueUrl+"?title=Documentation issue on page \""+page+"\"";
          uri = uri+ "&body=\n\n<- DESCRIBE MISSING OR FAULTY DOCUMENTATION HERE->\n\n---\nPage: ["+ page +"]("+
          url+ ")\ndon't remove the link to the page. It's required for the processor"
          var res = encodeURI(uri);
          res +="&labels=area/documentation"
          window.open(res,"issue")
          return false;
      }

      $(document).ready(function() {
        var $window = $(window);
        $window.sr = ScrollReveal({ reset: false});
        $window.sr.reveal('.reveal-fast', { duration: 2000 });
        $window.sr.reveal('.reveal-slow', { duration: 2500 });
        $window.sr.reveal('.reveal-right', { duration: 2000, origin:'right', distance:'300px' });
        $window.sr.reveal('.reveal-left', { duration: 2000, origin:'left', distance:'300px' });

        inlineSVG.init();

        $("[data-publishdate]").each(function(){
          $(this).text(moment($(this, "YYYY-MM-DD").attr("data-publishdate")).fromNow());
        });
          
        new ClipboardJS('.clipboard-copy');
      });
    </script>

    {{ partial "google-tags-manager-frame.html" . }}

{{ block "tails-scripts-custom" . }}{{ end }}