<script>
  $(document).ready(function () {
    function initStickyNav() {
      var stickyPoint;
      var tln = document.querySelector(".tln");
      if (!tln) {
        return;
      }
      var stickyPointEl = document.querySelector(".sticky-nav-point");
      if (stickyPointEl == null) {
        stickyPointEl = document.querySelector("body");
        stickyPoint = 0;
      } else {
        stickyPoint = stickyPointEl.clientHeight + stickyPointEl.offsetTop;
      }
      var bodySelector = document.getElementsByTagName("body")[0];
      var tlnHeight = tln.clientHeight;
      var stickyNavigation = function () {
        if (window.pageYOffset + tlnHeight >= stickyPoint) {
          bodySelector.classList.add("has-sticky-navigation");
          tln.classList.add("sticky-top");
        } else {
          bodySelector.classList.remove("has-sticky-navigation");
          tln.classList.remove("sticky-top");
        }
      }

      window.onscroll = function () {
        stickyNavigation();
      };
    }
    initStickyNav();

    function closeAllSelect() {
      document.getElementById("docOptions").classList.remove("show");
    }

    function show(e) {
      e.stopPropagation();
      document.getElementById("docOptions").classList.add("show");
    }

    document.addEventListener("click", closeAllSelect);
    document.getElementById("docSelector").addEventListener("click", show);
  });

</script>

<div class="tln fixedsticky sticky-top">
  {{- $currentPage:= . -}}
  <header class="navigation">
    <div class="container">
      <div class="navigation-wrapper">
        <a href="{{"" | relURL}}" class="logo">
          <img src="{{"images/gardener-logo.svg" | relURL}}" />
          <span class="title">Gardener</span>
        </a>
        <a class="nav-button navbar-toggler" href="#"><i class="fa fa-bars"></i></a>
        {{/* partial "search.html" . */}}
        <div class="navbar-collapse">
          <ul class="links">
            {{- with .Site.GetPage "section" "documentation/020_getting-started" -}}
            <li class="link {{if .IsAncestor $currentPage -}}active{{- end -}}">
              <a class="btn primary"
                href="{{ (or .Params.remoteUrl .Params.redirectUrl .Permalink) | relURL }}">{{ .Title }}</a>
            </li>
            {{- end -}}
            {{ with .Site.GetPage "section" "blog" }}
            <li class="link {{if .IsAncestor $currentPage -}}active{{- end -}}">
              <a href="{{ .URL }}">{{ .Title }}</a>
            </li>
            {{- end -}}
            {{ with .Site.GetPage "section" "community" }}
            <li class="link {{if .IsAncestor $currentPage -}}active{{- end -}}">
              <a href="{{ .URL }}">{{ .Title }}</a>
            </li>
            {{- end -}}
            {{ with .Site.GetPage "section" "adopter" }}
            <li class="link {{if .IsAncestor $currentPage -}}active{{- end -}}">
              <a href="{{ .URL }}">{{ .Title }}</a>
            </li>
            {{- end -}}
            {{-  $url := print "/data/revisions.json"  -}}
            {{ $versions := slice }}
            {{- if (fileExists $url) -}}
            {{- $revisions := (getJSON $url) -}}
            {{- $.Scratch.Set "revisions" $revisions -}}
            {{- range $revision := $revisions -}}
            {{ $versions = $versions | append $revision.version }}
            {{end}}
            {{- end -}}
            {{- if or (in .Page.Section "documentation") (in  $versions .Page.Section ) -}}
            <li class="link has-child active">
              {{- if le (len $versions) 1 -}}
              <a href="{{ (or .Params.remoteUrl .Params.redirectUrl .Permalink) | relURL }}">Documentation</a>
              {{- else -}}
              {{ partial "revisions.html" . }}
              {{ end }}
            </li>
            {{ else }}
            {{ with .Site.GetPage "section" "documentation" }}
            <li class="link has-child">
              <a href="{{ (or .Params.remoteUrl .Params.redirectUrl .Permalink) | relURL }}">Documentation</a>
            </li>
            {{- end -}}
            {{- end -}}
            {{ with .Site.GetPage "section" "contact" }}
            <li class="link {{if .IsAncestor $currentPage -}}active{{- end -}}">
              <a href="{{ .URL }}">{{ .Title }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </header>
</div>
<script>
  //collapsed TLN button
  $(".navigation .navbar-toggler").click(function (evt) {
    $(".navigation .navbar-collapse").toggle();
    $(".navigation").toggleClass("collapsed");
    $(".navigation .search-box").toggle();
  })
</script>

<!-- templates -->
{{ define "tln-nav-tree" }}
{{ $currentNode := .currentnode }}
{{ $maxTreeDepth := .maxTreeDepth }}
{{ $treeDepth := .treeDepth }}
{{with .sect}}
{{if .IsSection}}
{{ $isParent:= or (.IsAncestor $currentNode) (.Params.alwaysopen) }}
{{ $hiddenChildrenCount:= len (where .Pages ".Params.hidden" true) }}
{{ $childrenCount:= (len .Pages)}}
{{ $isContainer:= and (gt $childrenCount 0) (gt $childrenCount $hiddenChildrenCount) }}
<li data-nav-id="{{.URL}}" title="{{.Title}}" class="dd-item link
      {{- if eq .UniqueID $currentNode.UniqueID }} active{{- end -}}
      {{- if (eq $treeDepth 1) }} top-level{{- end -}}
      {{- if (eq $treeDepth 0) }} root {{ end -}}
      " data-depth="{{$treeDepth}}">
  <a href="{{- (or .Params.remoteUrl .Params.redirectUrl .Permalink) | relURL -}}">
    <span class="menu-item-text">{{- or .Params.menuTitle .LinkTitle .Title -}}{{- safeHTML .Params.Post -}}</span>
  </a>
  {{ $numberOfPages := len .Pages }}
  {{- if (and (not .Params.aggregate) (ne $numberOfPages 0)) -}}
  <ul {{- if .Parent.IsHome }} style="padding-left:0" {{ end -}}>
    {{- range sort .Pages ".Dir" -}}
    {{ if .Params.hidden}}
    {{else}}
    {{ $depth := (add $treeDepth 1) }}
    {{ if not (gt $depth $maxTreeDepth) }}
    {{ template "tln-nav-tree" dict "sect" . "currentnode" $currentNode "maxTreeDepth" $maxTreeDepth "treeDepth" $depth}}
    {{ end }}
    {{end}}
    {{- end -}}
  </ul>
  {{- end -}}
</li>
{{else}}
<li data-nav-id="{{.URL}}" title="{{.Title}}"
  class="dd-item{{- if eq .UniqueID $currentNode.UniqueID}} active{{end -}}">
  <a href="{{- (or .Params.remoteUrl .Params.redirectUrl .Permalink) | relURL -}}">
    <span class="toggle"></span><span
      class="menu-item-text"></span>{{- safeHTML .Params.head -}}{{- or .Params.menuTitle .LinkTitle .Title -}}{{- safeHTML .Params.Post -}}</span></a>
  </a>
</li>
{{end}}
{{ end }}
{{ end }}


<style>
  #docSelector {
    cursor: pointer;
  }

  .doc-options {
    position: fixed;
    background-color: #0b8062;
    text-align: left;
    display: none;
  }

  .doc-options ul li {
    margin-bottom: 0;
  }

  .doc-options ul li a:hover {
    background-color: #0c694f;
  }

  .doc-options ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }

  .doc-options ul li a {
    padding: 10px;
    margin: 0;
  }

  .doc-options .activeVersion {
    background-color: #ec682a;
  }

  .show {
    display: block;
  }
</style>