
<nav id="toolbar">
    <div class="branding">
        <div class="branding-teaser">
            <img class="u-max-full-width svg" height="45px" src="/images/logo.svg">
            <span>Gardener</span>
        </div>
            <div class="menu">
                <div class="social-items">
                    <div>
                        <a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fgardener.clound&text=Universal%20Kubernetes%20at%20Scale:%20http%3A%2F%2Fgardener.clound" target="_blank" title="Tweet" class="documentation-button" >
                           <i class="fab fa-twitter-square fa-2x" aria-hidden="true"></i>
                        </a>
                    </div>

                    <div>
                        <a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fgardener.clound&title=Universal%20Kubernetes%20at%20Scale&summary=Create%20and%20manage%20thousands%20of%20kubernetes%20clusters%20on%20any%20hyperscaler.&source=http%3A%2F%2Fgardener.clound" target="_blank"  class="documentation-button">
                            <i class="fab fa-linkedin fa-2x" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div>
                        <a href="http://wordpress.com/press-this.php?u=http%3A%2F%2Fgardener.clound&quote=Universal%20Kubernetes%20at%20Scale&s=Create%20and%20manage%20thousands%20of%20kubernetes%20clusters%20on%20any%20hyperscaler." target="_blank"  class="documentation-button">
                            <i class="fab fa-wordpress fa-2x" aria-hidden="true"></i>
                        </a>
                    </div>

                    <div>
                        <a href="mailto:?subject=Universal%20Kubernetes%20at%20Scale&body=Create%20and%20manage%20thousands%20of%20kubernetes%20clusters%20on%20any%20hyperscaler.:%20http%3A%2F%2Fgardener.clound" target="_blank"  class="documentation-button">
                            <i class="fas fa-envelope-square fa-2x" aria-hidden="true"></i>
                        </a>
                    </div>


                    <div  id="hide-share-menu">
                        <i class="fa fa-times"></i>
                    </div>

                </div>
                <div class="menu-items active">
                    <div  {{ if eq .RelPermalink "/" }} class='current_page_item' {{ end }}>
                        <a href="/"  class="documentation-button" >
                            About
                        </a>
                    </div>

                    <div {{ if eq .RelPermalink "/adopter/" }} class='current_page_item' {{ end }} >
                        <a href="/adopter"  class="documentation-button">
                            Adopter
                        </a>
                    </div>


                    <div {{ if eq .RelPermalink "/community/" }} class='current_page_item' {{ end }} >
                        <a href="/community" class="documentation-button">
                            Community
                        </a>
                    </div>

                    <div {{ if eq .RelPermalink "/blog/" }} class='current_page_item' {{ end }} >
                        <a href="/blog" class="documentation-button">
                            Blog
                        </a>
                    </div>

                    <div>
                        <a href="/tutorials" class="documentation-button">
                            Docs
                        </a>
                    </div>


                    <div  id="show-share-menu">
                        <i class="fa fa-share-alt"></i>
                    </div>

                    <div class='menu-line'></div>
                </div>
                <a class="toggle-nav active" href="#">☰</a>
            </div>
    </div>
</nav>
