{{ define "main" }}
<div class="td-content" id="body-inner">
    <div class="container community">
        <h1 class="title">Gardener Community</h1>
        <p class="subtitle">Follow - Engage - Contribute</p>
        {{ with .Content }}
        {{ . }}
        {{ end }}
        <h1 style="margin-top: 20px;">Get in Touch</h1>
        <div class="row" style="margin-top: 20px;">
            <div class="col-4">
                <a target="_blank" class="action-header" href="https://twitter.com/GardenerProject">
                    <img src="/__resources/twitter-logo-green_bc1e7a.svg">
                    <span>@GardenerProject</span>
                </a>
                <span>Follow the latest project updates on Twitter</span>
            </div>
            <div class="col-4">
                <a target="_blank" class="action-header" href="https://github.com/gardener">
                    <img src="/__resources/github-mark-logo-green_645e36.svg">
                    <span>GitHub</span>
                </a>
                <span>Everyone is welcome to contribute with what they can - an issue or a pull request.
                    Check Gardener project there and our contributors guide to help you get started.</span>
            </div>
            <div class="col-4">
                <a target="_blank" class="action-header" href="https://kubernetes.slack.com/messages/gardener">
                    <img src="/__resources/slack-logo-green_ae1ef7.svg">
                    <span>#gardener</span>
                </a>
                <span>Discuss Gardener on our Slack channel in the Kubernetes workspace</span>
            </div>
        </div>
       
    </div>
</div>
{{ end }}
