{{- if isset .Params "remote" -}}
  {{- if (strings.HasSuffix  .Params.remote ".git" ) -}}
    {{- printf "%s" (replace .Params.remote ".git" "/edit/master/README.md") -}}
  {{- else -}}
    {{- printf "%s" .Params.remote -}}
  {{- end -}}
{{- else -}}
{{ with .File }}
  {{ with .Path }}
    {{ $url := print "/data/" . ".json"}}
    {{ if (fileExists $url) -}}
      {{ $json := (getJSON $url)}}
      {{ printf "%s/edit/%s/%s" $json.weburl $json.shaalias $json.path -}}
    {{ end }}
  {{ end }}
{{ end }}
{{end}}