{{ $currentNode := . }}
{{ $pageUrl:= "" }}
{{ with $currentNode.Params.remote }}
    {{ $url := urls.Parse $currentNode.Params.remote }}
    {{ $path := $url.Path }}
    {{ $pathSegments := split $path "/" }}
    {{ $org := index $pathSegments 1 }}
    {{ $repo := (replace (index $pathSegments 2) ".git" "") }}
    {{ $pageUrl = (printf "%s://%s/%s/%s/%s" $url.Scheme $url.Host $org $repo "issues/new/choose") }}
{{ end }}
{{ with $currentNode.Params.originURL }}
    {{ $pageUrl = (printf "%s/issues/%s/%s" . "new" "choose") }}
{{ end }}
{{ if eq (len $pageUrl) 0 }}
    {{ $pageUrl = print (partial "git_baseurl.html" $currentNode) }}
    {{ $pageUrl = trim $pageUrl " \n\t"}}
    {{ if eq (len $pageUrl) 0 }}
        {{ $pageUrl = print (partial "component_url.html" $currentNode) }}
        {{ if eq (len $pageUrl) 0 }}
            {{ $pageUrl = .Site.Params.issueURL }}
        {{ end }}
    {{ end }}
    {{ if gt (len $pageUrl) 0 }}
        {{ $pageUrl = (printf "%s/issues/%s/%s" $pageUrl "new" "choose") }}
    {{end}}
{{ end }}
{{ if gt (len $pageUrl) 0 }}
                <div class="howto_tickets">
                    <a href="{{$pageUrl}}" target="_blank">
                        <span>Let us know how can we improve.</span>
                        <span>Open<img src="{{.Site.BaseURL}}images/branding/github-mark-logo-green.svg" title="GitHub"/>issue <i class="fa fa-external-link" aria-hidden="true"></i></span>
                    </a>
                </div>                    
{{ end }}