{{ $originURL := print (partial "git_resource_url_edit" .) }}
{{ $originURL = trim $originURL " \n\t"}}
{{ if eq (len $originURL) 0 }}
  {{ $originURL = .Site.Params.editURL }}
  {{ $path := print (partial "git_resource_path" .) }}
  {{ $path = trim $path " \n\t"}}
  {{ if gt (len $path) 0 }}
    {{ $originURL = printf "%s/%s" $originURL $path }}
  {{ end }}
{{ end }}
{{ if gt (len $originURL) 0 }}
            <div id="top-github-link">
                <a class="github-link" title='Edit page'
                    href='{{- $originURL -}}'
                    target="blank">
                  <i class="fa fa-edit"></i>
                  <span id="top-github-link-text" title="Edit page"></span>
                </a>
            </div>
{{ end }}