@import "variables";

/*
This CSS resource incorporates links to font software which is 
the valuable copyrighted property of WebType LLC, The Font Bureau 
and/or their suppliers. You may not 
attempt to copy, install, redistribute, convert, modify or reverse 
engineer this font software. Please contact WebType with any 
questions: http://www.webtype.com 
*/
@font-face {
  font-family: "BentonSans";
  src: url("../fonts/Benton-Sans-Regular_WesternEurope/b36a47f4-8876-40cb-b31a-d02f16a88d78-2.eot");
  src: url("../fonts/Benton-Sans-Regular_WesternEurope/b36a47f4-8876-40cb-b31a-d02f16a88d78-2.eot?")
      format("embedded-opentype"),
    url("../fonts/Benton-Sans-Regular_WesternEurope/b36a47f4-8876-40cb-b31a-d02f16a88d78-3.woff")
      format("woff"),
    url("../fonts/Benton-Sans-Regular_WesternEurope/b36a47f4-8876-40cb-b31a-d02f16a88d78-1.ttf")
      format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "BentonSansMedium";
  src: url("../fonts/Benton-Sans-Medium_WesternEurope/71592d14-e584-4c00-bbb9-8f1da5b98bf9-2.eot");
  src: url("../fonts/Benton-Sans-Medium_WesternEurope/71592d14-e584-4c00-bbb9-8f1da5b98bf9-2.eot?")
      format("embedded-opentype"),
    url("../fonts/Benton-Sans-Medium_WesternEurope/71592d14-e584-4c00-bbb9-8f1da5b98bf9-3.woff")
      format("woff"),
    url("../fonts/Benton-Sans-Medium_WesternEurope/71592d14-e584-4c00-bbb9-8f1da5b98bf9-1.ttf")
      format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "BentonSansBook";
  src: url("../fonts/BentonSansBook/BentonSans-Book.woff2") format("woff2"),
    url("../fonts/BentonSansBook/BentonSans-Book.woff") format("woff"),
    url("../fonts/BentonSansBook/BentonSans-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BentonSansLight";
  src: url("../fonts/BentonSansLight/56fead03-cbb4-48e8-bc4c-512c795fc3c9-2.eot");
  src: url("../fonts/BentonSansLight/56fead03-cbb4-48e8-bc4c-512c795fc3c9-2.eot?")
      format("embedded-opentype"),
    url("../fonts/BentonSansLight/56fead03-cbb4-48e8-bc4c-512c795fc3c9-3.woff")
      format("woff"),
    url("../fonts/BentonSansLight/56fead03-cbb4-48e8-bc4c-512c795fc3c9-1.ttf")
      format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "BentonSansBold";
  src: url("../fonts/BentonSansBold/90a77a6d-79fe-4845-96a8-b6dadd7d52a4-2.eot");
  src: url("../fonts/BentonSansBold/90a77a6d-79fe-4845-96a8-b6dadd7d52a4-2.eot?")
      format("embedded-opentype"),
    url("../fonts/BentonSansBold/90a77a6d-79fe-4845-96a8-b6dadd7d52a4-3.woff")
      format("woff"),
    url("../fonts/BentonSansBold/90a77a6d-79fe-4845-96a8-b6dadd7d52a4-1.ttf")
      format("truetype");
  font-style: normal;
  font-weight: bold;
}
* {
  box-sizing: border-box;
}
body {
  font-family: $font-family-regular;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  color: $font-color;
}
.brandingColor {
  color: $color-highlight;
}
a {
  color: $color-highlight;
  text-decoration: none;
  font-family: $font-family-regular;
  word-break: break-all;
  &:hover {
    color: $color-highlight;
    text-decoration: underline;
  }
}
.image {
  width: 100%;
  height: auto;
}
.container {
  max-width: 1200px;
  @media (min-width: 400px) {
    width: 90%;
  }
}
.title-1 {
  font-weight: normal;
  letter-spacing: 0;
  margin-bottom: 0;
  font-size: 2.5rem;
  line-height: 1.2;
  @media (min-width: 750px) {
    font-size: 3rem;
  }
  @media (min-width: 1000px) {
    font-size: 4.5rem;
  }
  &:not(.has-subtitle) {
    margin-bottom: 1em;
  }
}
.title-2 {
  font-weight: normal;
  letter-spacing: 0;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 1.2;
  @media (min-width: 550px) {
    font-size: 25px;
  }
  @media (min-width: 750px) {
    font-size: 36px;
  }
  &:not(.has-subtitle) {
    margin-bottom: 42px;
  }
}
.title-3 {
  font-size: 20px;
  line-height: 1.2;
  @media (min-width: 550px) {
    font-size: 24px;
  }
  @media (min-width: 750px) {
    font-size: 28px;
  }
}
.sub-title {
  font-weight: normal;
  letter-spacing: 0;
  margin-bottom: 0;
  font-family: $font-family-book;
  font-size: 1.6rem;
  margin-top: 12px;
  @media (min-width: 750px) {
    font-size: 20px;
  }
  &.has-small-margin-bottom {
    margin-bottom: 1.2em;
  }
  &.no-margin-bottom {
    margin-bottom: 0;
  }
}
b,
strong {
  font-family: var(--font-family-medium);
}
.is-centered {
  text-align: center;
}
a.btn {
  display: inline-block !important;
}
.btn {
  display: inline-block;
  position: relative;
  padding: 10px 16px !important;
  border-radius: 28px !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  font-family: $font-family-regular !important;
  line-height: 1.1 !important;
  vertical-align: middle !important;
  text-decoration: none !important;
  transition: all 0.5s !important;
  overflow: hidden;
}
.btn.primary {
  color: #fff !important;
  border: 1px solid $color-highlight !important;
  background-color: $color-highlight !important;
  &:hover {
    border: 1px solid $color-highlight !important;
    background: $color-highlight !important;
    color: #fff !important;
  }
}

.page {
  padding: 4rem 0;
  display: flex;
  flex-flow: column;
  align-items: self-start;
  font-family: $font-family-regular;
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 1rem 0 0.5rem;
    font-family: $font-family-regular !important;
    color: #0b8062 !important;
  }
  h2 {
    font-size: 36px;
    padding-top: 0;
    margin: 0 0 0.4em;
  }
  h3 {
    font-size: 1.2em;
  }
  .page-title {
    display: block;
    background: none;
    border-bottom: none;
    padding: 0 !important;
    margin-bottom: 1rem;
    text-align: center;
  }
  .page-sub-title {
    display: block;
  }
  a.nav-link {
    font-family: BentonSans, sans-serif;
    line-height: 1 !important;
    font-size: 1.6rem;
    margin: 1rem 0;
    padding: 1rem;
    color: $color-highlight;
    border: 1px solid #d5755d;
    display: inline-block;
  }
  a.nav-link:hover {
    text-decoration: none;
    color: #fff;
    background-color: $color-highlight;
    border-color: #d5755d;
  }
  a.nav-link::after {
    display: none !important;
  }
}

.column,
.columns {
  @media (min-width: 550px) {
    margin-left: 0;
  }
  @media (min-width: 750px) {
    margin-left: 4%;
  }
}

// wrap to each item full below 750px width
.one-half.column {
  @media (min-width: 550px) {
    width: 100%;
  }
  @media (min-width: 750px) {
    width: 48%;
  }
}
.one-third.column {
  @media (min-width: 550px) {
    width: 100%;
  }
  @media (min-width: 750px) {
    width: 30.6666666667%;
  }
}
.one-fourth.column {
  @media (min-width: 550px) {
    width: 100%;
  }
  @media (min-width: 750px) {
    width: 22%;
  }
}
.body-inner-wrapper {
  min-height: calc(100vh - 410px);
}
#body-inner {
  padding-top: 5rem;
  .title {
    color: #0b8062 !important;
    text-align: center;
    border: none;
    margin-bottom: 0;
    font-size: 2.5rem;
    padding: 0;
    font-family: var(--font-family-regular) !important;
    @media (min-width: 550px) {
      font-size: 25px;
    }
    @media (min-width: 750px) {
      font-size: 36px;
    }
    @media (min-width: 750px) {
      font-size: 3.3rem;
    }
  }
  .subtitle {
    text-align: center;
    border: none;
    margin: 0 auto 4rem;
    font-size: 1.6rem;
    padding: 0;
    font-family: var(--font-family-regular) !important;
    @media (min-width: 750px) {
      font-size: 1.8rem;
    }
    @media (min-width: 1024px) {
      font-size: 2rem;
    }
  }
  .title-group {
    padding-bottom: 4rem;
  }
  p {
    line-height: 1.4;
    margin-top: 0;
    &.description {
      font-size: 110%;
    }
    &.call-for-action {
      font-family: var(--font-family-regular);
      font-size: 20px;
      line-height: 1.3;
      letter-spacing: 0;
      text-decoration-color: var(--color-emphasis);
      color: #222;
      text-align: center;
      margin: 100px auto 4rem;
    }
  }
}
code {
  background: #eee;
  color: #747474;
  border-radius: 4px;
  display: inline-block;
  font-size: 80%;
  line-height: 1;
  padding: 5px 7px;
  position: relative;
  top: -2px;
  border: 0;
  cursor: pointer;
}
code + span.copy-to-clipboard {
  display: none;
}

code.hljs {
  line-height: 1.3;
}
code.hljs + span.copy-to-clipboard {
  display: initial;
}
code, pre > code {
  white-space: inherit !important;
  overflow: auto;
}

// #body-inner .title, .subtitle {
//   margin-bottom: 0;
//   font-size: 3.3rem;
//   padding: 0;
// }
// #body-inner .subtitle {
//   font-size: 2rem;
//   color: #555;
// }
