* {
  box-sizing: border-box;
}
body {
  font-family: $font-family-regular;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.3rem;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  color: $font-color;
  transition: all 0.5s;
}
.brandingColor {
  color: $color-highlight;
}
a {
  color: $color-highlight;
  text-decoration: none;
  font-family: $font-family-regular;
  transition: all 0.125s;
  &:hover {
    color: $color-highlight;
    text-decoration: underline;
  }
}
#body-inner {
  blockquote {
    border: 0;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: relative;
    padding-left: 60px;
    &:before {
      content: "!";
      font-weight: bold;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: #00a273;
      color: white;
      vertical-align: middle;
      margin: auto;
      width: 36px;
      font-size: 30px;
      text-align: center;
    }
  }
}
.image {
  width: 100%;
  height: auto;
}
.main {
  display: flex;
  > section {
    flex: 1;
    display: flex;
    flex-flow: column;
    .body-inner-wrapper {
      flex: 1;
      min-height: calc(100vh - var(--sln-height) - var(--header-height) - var(--footer-height));
      @media (min-width: 1000px) {
        min-height: calc(100vh - var(--sln-height) - var(--header-height) - var(--footer-height) - var(--feedback-height-total));
      }
    }
  }
}
.title-1 {
  font-weight: normal;
  letter-spacing: 0;
  margin-bottom: 0;
  font-size: calc(2.5rem*10/16);
  line-height: 1.2;
  word-break: normal;
  @media (min-width: 750px) {
    font-size: calc(3rem*10/16);
  }
  @media (min-width: 1000px) {
    font-size: calc(4.5rem*10/16);
  }
  &:not(.has-subtitle) {
    margin-bottom: 1em;
  }
}
.title-2 {
  font-weight: normal;
  letter-spacing: 0;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 1.2;
  @media (min-width: 550px) {
    font-size: 25px;
  }
  @media (min-width: 750px) {
    font-size: 36px;
  }
  &:not(.has-subtitle) {
    margin-bottom: 42px;
  }
}
.title-3 {
  font-size: 20px;
  line-height: 1.2;
  @media (min-width: 550px) {
    font-size: 24px;
  }
  @media (min-width: 750px) {
    font-size: 28px;
  }
}
.sub-title {
  font-weight: normal;
  letter-spacing: 0;
  margin-bottom: 0;
  font-family: $font-family-book;
  font-size: calc(1.6rem*10/16);
  margin-top: 12px;
  @media (min-width: 750px) {
    font-size: 20px;
  }
  &.has-small-margin-bottom {
    margin-bottom: 1.2em;
  }
  &.no-margin-bottom {
    margin-bottom: 0;
  }
}
b,
strong {
  font-family: var(--font-family-medium);
}
.is-centered {
  text-align: center;
}
a.btn {
  display: inline-block !important;
}
.btn {
  display: inline-block;
  position: relative;
  padding: 10px 16px !important;
  border-radius: 28px !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  font-family: $font-family-regular !important;
  line-height: 1.1 !important;
  vertical-align: middle !important;
  text-decoration: none !important;
  transition: all 0.5s !important;
  overflow: hidden;
}
.btn.primary {
  color: #fff !important;
  border: 1px solid $color-highlight !important;
  background-color: $color-highlight !important;
  &:hover {
    border: 1px solid $color-highlight !important;
    background: $color-highlight !important;
    color: #fff !important;
  }
}

.column,
.columns {
  @media (min-width: 550px) {
    margin-left: 0;
  }
  @media (min-width: 750px) {
    margin-left: 4%;
  }
}

// wrap to each item full below 750px width
.one-half.column {
  @media (min-width: 550px) {
    width: 100%;
  }
  @media (min-width: 750px) {
    width: 42%;
  }
}
.one-third.column {
  @media (min-width: 550px) {
    width: 100%;
  }
  @media (min-width: 750px) {
    width: 28%;
  }
}
.one-fourth.column {
  @media (min-width: 550px) {
    width: 100%;
  }
  @media (min-width: 750px) {
    width: 21%;
  }
}
#body-inner {
  padding-top: calc(5rem*10/16);
  .title {
    color: #0b8062 !important;
    text-align: center;
    border: none;
    margin-bottom: 0;
    font-size: calc(2.5rem*10/16);
    padding: 0;
    @media (min-width: 550px) {
      font-size: 25px;
    }
    @media (min-width: 750px) {
      font-size: 36px;
    }
    @media (min-width: 750px) {
      font-size: calc(3.3rem*10/16);
    }
  }
  .subtitle {
    text-align: center;
    border: none;
    margin: 0 auto calc(4rem*10/16);
    font-size: calc(1.6rem*10/16);
    padding: 0;
    font-family: var(--font-family-regular) !important;
    @media (min-width: 750px) {
      font-size: calc(1.8rem*10/16);
    }
    @media (min-width: 1024px) {
      font-size: calc(2rem*10/16);
    }
  }
  .title-group {
    padding-bottom: calc(4rem*10/16);
  }
  p {
    line-height: 1.4;
    margin-top: 0;
    &.description {
      font-size: 110%;
    }
    &.call-for-action {
      font-family: var(--font-family-regular);
      font-size: 20px;
      line-height: 1.3;
      letter-spacing: 0;
      text-decoration-color: var(--color-emphasis);
      color: #222;
      text-align: center;
      margin: 100px auto calc(4rem*10/16);
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #0b8062;
  }
}

// Inline code
code,
kbd,
pre,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 95%;
  vertical-align: baseline;
  word-break: normal;
  color: var(--code-color-font);
  background-color: inherit;
  padding: 0;
  border: 0;
  position: relative;
  white-space: pre-wrap;
}


// Inline code in headings
h1 code,
h1 kbd,
h1 pre,
h1 samp {
  font-size: 100%;
}
h2 code,
h2 kbd,
h2 pre,
h2 samp {
  font-size: 100%;
}
h3 code,
h3 kbd,
h3 pre,
h3 samp {
  font-size: 100%;
}

// pre {
//   min-width: 12em;
//   max-height: 31em;
//   margin: 1em;
//   border: 0;
//   border-radius: 2px;
//   font-size: 87.5%;
//   white-space: pre;
//   word-spacing: normal;
//   word-break: normal;
//   word-wrap: normal;
//   tab-size: 4;
//   hyphens: none;
//   overflow: auto;
//   background: inherit;
//   line-height: 1.15;
//   box-shadow: 1px 1px 5px -1px #000;
//   code {
//     padding: 0px 2px;
//     border: 0;
//     margin: 0;
//     padding: 8px 7px;
//     border-radius: 2px;
//     white-space: nowrap;
//     overflow: auto;
//     font-size: inherit;
//     color: inherit;
// .hljs {
//   line-height: 1.3;
//   & + span.copy-to-clipboard {
//     display: initial;
//     margin-left: -1px;
//     border-left: 0 !important;
//     font-size: inherit !important;
//     vertical-align: middle;
//     height: 21px;
//     top: 0;
//   }
// }
//   }
// }

// #body-inner .title, .subtitle {
//   margin-bottom: 0;
//   font-size: calc(3.3*10/16)calc(rem*10/16);
//   padding: 0;
// }
// #body-inner .subtitle {
//   font-size: calc(2*10/16)calc(rem*10/16);
//   color: #555;
// }
.share-ribbon {
  display: flex;
  button.btn {
    height: 20px;
    padding: 1px 8px 1px !important;
    color: $color-highlight !important;
    border-radius: 3px !important;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2) !important;
  }
  button.btn:active {
    background-color: $color-highlight !important;
    color: #fff !important;
    box-shadow: none;
    transform: scale(0.99);
  }
}
.share-ribbon > * {
  margin-right: 10px;
}
#body-inner {
  a.nav-link {
    font-family: $font-family-regular;
    line-height: 1 !important;
    font-size: 90%;
    margin: calc(1rem*10/16);
    padding: calc(1rem*10/16);
    color: $color-highlight;
    border: 1px solid #d5755d4d;
    display: inline-block;
    &:hover {
      text-decoration: none;
      color: #fff;
      background-color: $color-highlight;
      border-color: #d5755d;
    }
    &.back {
      &:before {
        content: "\f104";
        display: inline-block;
        margin-right: 5px;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased
      }
    }
  }
}
.howto_tickets {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px 10% 50px;
  height: $feedback-height;
  background-color: #f6f6f6;
  vertical-align: middle;
  a {
    // color: $color-highlight;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    color: #666;
    &:hover {
      color: #111;
    }
    span {
      display: block;
      @media (min-width: 750px) {
        display: initial;
      }
    }
    @media (min-width: 750px) {
      width: 75%;
    }
    img {
      width: 32px;
      vertical-align: middle;
      margin: auto 5px;
    }
  }
}
