// table,
// td {
//   border: 0;
// }

.blogs {
  .authors {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    .author {
      display: flex;
      flex-flow: column;
      font-size: 1.3rem;
      text-align: center;
      line-height: 1.5;
    }
    li.author {
      margin: 5px;
    }
  }
  ul.authors {
    margin: 0px;
    padding-left: 0px !important;
  }
  .publishdate {
    display: block;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1;
    margin-top: 5px;
    color: #555;
    font-family: $font-family-light;
  } 
  .share-ribbon {
    display: flex;
    button.btn {
      height: 20px;
      padding: 1px 8px 1px !important;
      color: $color-highlight !important;
      border-radius: 3px !important;
      box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2) !important;
    }
    button.btn:active {
      background-color: $color-highlight !important;
      color: #fff !important;
      box-shadow: none;
      transform: scale(0.99);
    }
  }
  .share-ribbon > * {
    margin-right: 10px;
  }
  a.title-link {
    color: #b6b6b6;
    text-decoration: none;
    padding-left: 10px;
    font-size: 16px;
    vertical-align: middle;
  }
  a.title-link:hover {
    color: $color-highlight;
  }
  .nav-link+.post {
    border: none;
  }
  .post {
    padding: 30px 0;
    border-bottom: 1px solid #96969633;
    &:first-of-type {
      padding-top: 0px;
    }
    .wrapper {
      overflow: hidden;
      td {
        border-bottom: 0;
      }
      ul {
        padding-left: 40px;
        li {
          list-style-position: outside;
        }
      }
      .drop-shadow {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border-radius: 4px;
      }
      .externalLink {
        i {
          padding-left: 5px;
          font-size: 80%;
        }
      }
      .user-icon {
        display: block;
        margin: 0 auto;
        width: 60px;
        border-radius: 50%;
      }
      img.inline, object[type="image/svg+xml"].inline {
        display: inline-block;
        margin: 0px 3px;
      }
      .icon.inline {
        width: 1em;
        height: auto;
      }
      img:not(.inline):not(.user-icon),
      object[type="image/svg+xml"]:not(.inline):not(.user-icon) {
        margin: 3rem auto;
        display: block;
        width: 100%;
        @media (max-width: 320px) {
          max-width: 250px;
        }
        @media (max-width: 400px) {
          max-width: 300px;
        }
        @media (max-width: 500px) {
          max-width: 300px;
        }
        @media (max-width: 750px) {
          max-width: 400px;
        }
        @media (max-width: 1000px) {
          max-width: 500px;
        }
        @media (max-width: 1400px) {
          max-width: 750px;
        }
      }
    }
  }
}
