// table,
// td {
//   border: 0;
// }

.blogs {
  .author {
    display: block;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1;
    margin: 10px 0 5px;
  }
  .publishdate {
    display: block;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1;
  }
  .share-ribbon {
    display: flex;
    button.btn {
      height: 20px;
      padding: 1px 8px 1px !important;
      color: $color-highlight !important;
      border-radius: 3px !important;
      box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2) !important;
    }
    button.btn:active {
      background-color: $color-highlight !important;
      color: #fff !important;
      box-shadow: none;
      transform: scale(0.99);
    }
  }
  .share-ribbon > * {
    margin-right: 10px;
  }
  a.title-link {
    color: #b6b6b6;
    text-decoration: none;
    padding-left: 10px;
    font-size: 16px;
    vertical-align: middle;
  }
  a.title-link:hover {
    color: $color-highlight;
  }
  .post {
    padding: 30px 0;
    .wrapper {
      border-bottom: 1px solid #d9d9d9;
      border-bottom-color: rgba(123, 134, 149, 0.2);
      overflow: hidden;
      td {
        border-bottom: 0;
      }
      ul {
        padding-left: 40px;
        li {
          list-style-position: outside;
        }
      }
      .drop-shadow {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border-radius: 4px;
      }
      .externalLink {
        i {
          padding-left: 5px;
          font-size: 80%;
        }
      }
      .user-icon {
        width: 60px;
        border-radius: 50%;
      }
      img, object[type="image/svg+xml"] {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 100%;
        @media (max-width: 320px){
          max-width: 250px;
        }
        @media (max-width: 400px){
          max-width: 300px;
        }
        @media (max-width: 500px){
          max-width: 300px;
        }
        @media (max-width: 750px){
          max-width: 400px;
        }
        @media (max-width: 1000px){
          max-width: 500px;
        }
        @media (max-width: 1400px){
          max-width: 750px;
        }
      }
    }
  }
}
