
.community {
  padding-top: 5rem;
  padding-bottom: 7rem;
  .row {
    margin-top: 50px;
  }
  .col-4 {
    min-width: 250px;
  }
  .action-header {
    display: flex;
    align-items: center;
    color: #222;
    font-family: var(--font-family-regular);
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 12px;
    img {
      margin-right: 22px;
      width: 40px;
    }
    span {
      font-size: 20px;
      color: var(--color-emphasis);
      font-family: var(--font-family-medium);
    }
    & + * {
      font-size: 18px;
      line-height: 1.3;
      color: #333;
    }
  }
}
