// typeahead comboboxes styles
#body-inner {
  .custom-combobox {
    display: inline-block;
    position: relative;
    width: 100%;
    background: #fff;
    .custom-combobox-input {
      width: 100%;
      margin: 0;
      padding: 5px 10px;
      background: #fff;
    }
    .custom-combobox-toggle {
      position: absolute;
      top: 0;
      bottom: 0;
      margin-right: -1px;
      padding: 0;
      right: 0;
      background: #f6f6f6;
      &.ui-button {
        color: #555;
        padding: 7px 8px 0;
        :active:focus {
          border: 1px solid #ccc;
          background: #ededed;
          color: #000;
        }
        .icon-arrow-down {
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          &::before {
            content: "\f107";
          }
        }
      }
    }
  }
}
