.docs {
  /*Documentation Tutorials section styles */
  &.tutorials {
       .list {
         .tiles {
           display: flex;
           flex-wrap: wrap;
           .tile {
            @media (min-width: 750px) {
              max-width: calc(50% - 20px);
            }
            @media (min-width: 1000px) {
              max-width: calc(33.333% - 20px);
            }
        }
      }
    }
  }
}
