/* Documentation homepage styles*/
#body-inner {
  .docs {
    &.home {
      display: flex;
      flex-flow: column;
      > * {
        flex: 1 1 auto;
      }
      > h1 {
        text-align: center;
        @media (min-width: 750px) {
          text-align: left;
        }
        &+section {
          text-align: center;
          @media (min-width: 750px) {
            text-align: left;
          }
        }
      }
      section {
        margin: 2rem 0;
        text-align: center;
        @media (min-width: 750px) {
          text-align: initial;
        }
      }
      ul {
        margin: 0;
      }
      //Home page navigation tiles
      .list {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        @media (min-width: 750px) {
          margin-top: 5rem;
        }
        .tile {
          flex: 1 1 auto;
          height: auto;
          min-height: 100px;
          width: 100%;
          border: 1px solid $uiLightGray;
          padding: 1.5rem;
          margin: 0 10px 10px;
          background-color: #fefefe;
          color: $uiStandardTextColor;
          transition: all 0.25s;
          @media (min-width: 750px) {
            min-height: 150px;
            max-width: calc(50% - 20px);
            padding: 2rem;
            margin: 0 10px 40px;
          }
          @media (min-width: 1000px) {
            max-width: calc(33.33% - 20px);
          }
          &:hover {
            color: #fff;
            background-color: #033829;
            border-color: #033829;
            text-decoration: none;
            h1 {
              color: #fff;
            }
          }
          h1 {
            font-size: 1.8rem;
            letter-spacing: -0.1rem;
            padding-top: 0;
            @media (min-width: 750px) {
              font-size: 2rem;
            }
          }
        }
      }
      .license {
        text-align: center;
        margin: 38px auto 0;
        font-size: 1.3rem;
        color: #555;
        font-family: $font-family-book;
      }
    }
  }
}
