#body-inner {
  .docs {
    svg {
      &.icon {
        vertical-align: middle;
        fill: currentColor;
        width: 24px;
        height: 24px;
        --outline-color: $uiStandardTextColor;
        fill: $uiStandardTextColor;
        &.sort {
          width: 23px;
          height: 1em;
        }
      }
    }
    .page-head {
      margin-bottom: 40px;
      display: flex;
      flex-flow: column;
      .records-stats {
        align-self: flex-end;
        font-family: $font-family-light;
        .records-shown {
          &::after {
            content: "/";
          }
        }
      }
      .controls {
        display: flex;
        flex-flow: column;
        padding-bottom: 10px;
        border-bottom: 1px solid $uiLightGray;
        //background-color: #fbfbfb;
        .controls-collapse {
          &.toggle {
            display: inline-block;
            margin-left: 10px;
            &:not(.active) {
              .icon {
                &.filter {
                  --outline-color: #888;
                  fill: #fff;
                }
              }
              &:hover {
                .icon {
                  --outline-color: $color-highlight;
                }
              }
            }
            &.active {
              .icon {
                &.filter {
                  --outline-color: var(--color-emphasis);
                  fill: #fff;
                }
              }
            }
          }
        }
        .control {
          flex: 1 0 100%;
          margin: 0 0 20px 0;
          @media (min-width: 750px) {
            flex: 1 0 auto;
            margin: 0;
          }
          &.search {
            display: flex;
            @media (min-width: 1000px) {
              width: 100%;
              max-width: 400px;
              align-self: flex-end;
            }
            input {
              padding-right: 35px;
              width: 100%;
            }
            .filter {
              width: 35px;
              height: 3.7rem;
              margin-left: -35px;
              padding: 8px 4px 4px;
              --outline-color: #888;
              fill: #fff;
            }
            .icon-search {
              font-size: 2.4rem;
              padding: 8px 4px 4px;
              margin-left: -35px;
              color: $uiLightGray;
            }
          }
        }
        .filters {
          flex: 1 0 auto;
          display: flex;
          flex-wrap: wrap;
          max-width: 100%;
          @media (min-width: 750px) {
            justify-content: flex-start;
          }
          .control {
            align-items: center;
            @media (min-width: 750px) {
              margin: 0 30px 0 0;
            }
            label {
              margin-right: 10px;
              font-family: $font-family-light;
              font-weight: normal;
            }
          }
          .custom-combobox {
            @media (min-width: 750px) {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
    .sort {
      color: $uiStandardTextColor;
      font-family: $font-family-light;
      font-weight: normal;
      &.active {
        font-family: BentonSans;
      }
    }
    a.sort {
      text-decoration: none;
    }
    .subcontrols {
      display: flex;
      justify-content: flex-end;
    }
  }
}
