/* Landing page news styles*/
.news {
  width: 100%;
  ul.news-feed {
    list-style: none;
    margin: 3rem auto 2rem;
    padding: 8px 4px;
    background-color: #fefefe1a;
  }
  .news-feed {
    display: flex;
    @media (min-width: 1000px) {
      max-width: initial;
    }
    @media (min-width: 1200px) {
      display: flex;
      width: 100%;
    }
  }
  .slick-slider {
    @media (min-width: 1000px) {
      padding: 0 2rem;
    }
    button {
      font-size: 3rem;
      line-height: inherit;
      width: 25px;
      height: 100%;
      opacity: 0.5;
      color: $font-color;
      margin-bottom: 0;
      @media (min-width: 1000px) {
        font-size: 3.5rem;
      }
      @media (min-width: 1200px) {
        font-size: 3.5rem;
      }
    }
    button:hover {
      opacity: 1;
      transition: opacity 0.2s;
    }
    button::before {
      display: none;
    }
    button.slick-next {
      right: -9px;
    }
  }
  .slide {
    display: inline-block;
  }
  .news-box {
    display: flex;
    /* border-left: 4px solid #e8e8e8; */
    margin: 0 0 0 5px;
    cursor: pointer;
    a {
      height: 100%;
      color: #eee;
      font-family: $font-family-light;
      text-decoration: none;
      display: flex;
      flex-flow: column;
      * {
        text-decoration: none;
      }
    }
    .feed-heading {
      display: flex;
      flex-flow: column;
      line-height: 1.3;
      max-width: 300px;
      .name {
        margin: 0;
        max-width: 280px;
        font-size: 1.3rem;
        font-family: $font-family-regular;
        overflow: hidden;
        text-overflow: ellipsis;

        @media (min-width: 750px) {
          font-size: 1.4rem;
        }
        @media (min-width: 1000px) {
          font-size: 1.5rem;
        }
        @media (min-width: 1200px) {
          font-size: 1.6rem;
        }
      }
      .sub-title {
        display: block;
        font-size: 1.3rem;
        margin: 0;
        flex: 1 0 auto;
        @media (min-width: 750px) {
          font-size: 1.35rem;
        }
        @media (min-width: 1000px) {
          font-size: 1.35rem;
        }
        @media (min-width: 1200px) {
          font-size: 1.4rem;
        }
      }
      .description {
        display: none;
        font-size: 1.2rem;
        line-height: 1;
        margin: 0;
        @media (min-width: 1000px) {
          display: inline-block;
          font-size: 1.4rem;
        }
      }
    }
    .feed-heading:hover {
      color: #fff;
    }
  }
  .news-box:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 100%;
    margin: 0 5px 0 0;
    background-image: url(../images/lp/news-lead.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .news-box:hover {
    border-left-color: #d1d1d1;
    transition: border-color 0.2s;
  }
}

.news {
  .news-feed:not(.slick-initialized) .news-box {
    @media (min-width: 750px) {
      margin-right: 10px;
    }
    .feed-heading {
      @media (min-width: 1200px) {
        margin-right: 30px;
      }
    }
  }
}

.lity-container {
  margin: 3rem auto;
  max-width: 90% !important;
  max-height: 90% !important;
  overflow-y: auto;
}