.news-feed {
  list-style: none;
  margin: 2rem 0;
  .news-item {
    a.nav-link {
      margin: 2rem 0;
      padding: 0 1rem;
      width: 100%;
      display: flex;
      flex-flow: column;
      font-family: $font-family-medium;
      font-size: 1.6rem;
      line-height: 1 !important;
      border: none;
      &:hover {
        text-decoration: none;
        background: none !important;
        color: $color-highlight;
      }
      &::after {
        display: none !important;
      }
      .eventdate {
        font-family: $font-family-light;
        display: block;
      }
      .publish-date {
        font-family: $font-family-regular;
        display: block;
        font-size: 1.2rem;
        color: initial;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      }
    }
    .arrow-right {
      color: $color-highlight;
    }
  }
}
ul.news-feed li {
  margin-left: 0 !important;
}
.page + a.nav-link {
  font-family: $font-family-regular;
  line-height: 1 !important;
  font-size: 1.6rem;
  margin: 1rem 0;
  padding: 1rem;
  color: $color-highlight;
  border: 1px solid $color-highlight;
  &:hover {
    text-decoration: none;
    color: #fff;
    background-color: $color-highlight;
    border-color: $color-highlight;
  }
  &::after {
    display: none !important;
  }
}

@import "news-feed";
@import "news-meetup";
@import "news-releasenotes";
