#body-inner {
  .page {
    padding-bottom: 4rem;
    .page-title {
      display: block;
      background: none;
      border-bottom: none;
      padding: 0 !important;
      margin-bottom: 1rem;
      text-align: center;
    }
    .page-sub-title {
      display: block;
    }
    &.news-feed {
      .news-feed {
        display: grid;
        overflow: hidden;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 1fr;
        grid-row-gap: 20px;
        margin: 4rem 0 0;
        padding-left: 0;
        .news-item {
          a.nav-link {
            display: flex;
            width: 100%;
            margin: 0;
            flex-flow: column;
            font-family: $font-family-medium;
            font-size: 1.6rem;
            line-height: 1 !important;
            border: none;
            &:hover {
              text-decoration: none;
              background: none !important;
              color: $color-highlight;
            }
            h4 {
              margin: 0.5rem 0 0.5rem;
              font-family: $font-family-regular;
              // color: #0b8062 !important;
              .arrow-right {
                color: $color-highlight;
              }
            }
            h5 {
              margin: -0.5rem 0 0.5rem;
            }
            .publish-date {
              font-family: $font-family-regular;
              display: block;
              font-size: 1.2rem;
              color: initial;
              border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            }
          }
        }
      }
      ul.news-feed li {
        margin-bottom: 0;
        list-style: none;
      }
    }
    // & + a.nav-link {
    //   font-family: $font-family-regular;
    //   line-height: 1 !important;
    //   font-size: 1.6rem;
    //   margin: 1rem 0;
    //   padding: 1rem;
    //   color: $color-highlight;
    //   border: 1px solid $color-highlight;
    //   &:hover {
    //     text-decoration: none;
    //     color: #fff;
    //     background-color: $color-highlight;
    //     border-color: $color-highlight;
    //   }
    // }
  }
}

@import "news-feed";
@import "news-item";
@import "news-meetup";
@import "news-releasenotes";
