#sidebar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  min-width: 300px;
  margin-right: 50px;
  margin-top: calc(63px + 4rem) !important;
  overflow-x: hidden;
  margin-top: calc(var(--gd-header-height) + 4rem);
  transition: 0.5s;
  background: #fff !important;
  box-shadow: 4px 3px 8px -6px #000;
  @media (min-width: 1000px) {
    margin-top: 5rem !important;
  }
  &.collapsed {
    width: 0;
    margin-left: -100%;
  }
  &:not(.collapsed) {
    width: 75%;
    margin-left: 0;
  }
  ul {
    list-style: none;
    &.topics {
      @media (min-width: 1000px) {
        margin: 0 1rem 0 0;
      }
    }
    &.topics li.parent ul {
      padding-left: 0;
    }
    &.topics > ul {
      padding-left: 0;
      & > ul {
        padding-left: 20px;
      }
      li.parent ul {
        padding-left: 20px;
      }
    }
    li {
      &.active > a {
        color: #000 !important;
        font-family: $font-family-medium;
      }
      & > a {
        display: flex;
        flex-wrap: wrap;
        //   display: inline-block;
        text-decoration: none;
        font-family: $font-family-light;
        color: #000 !important;
      }
      li {
        padding-left: 0;
        text-indent: 0;
      }
      /* Theme override */
      a span {
        white-space: unset !important;
      }
    }
  }
  li {
    .toggle {
      display: inline-block !important;
      width: 18px;
      vertical-align: middle;
      margin-right: 10px;
      color: #007db8 !important;
    }
  }
  li[data-depth="1"] {
    font-size: 1.5rem;
  }
  li[data-depth="2"] {
    font-size: 1.4rem;
  }
  .root {
    & > a {
      & > span {
        display: flex;
        height: 3rem;
        align-items: center;
        @media (min-width: 1000px) {
          background: #f6f6f6;
        }
      }
      & > .menu-item-text {
        text-transform: uppercase;
        font-family: $font-family-regular;
        font-size: 2rem;
        font-weight: 600;
        text-indent: 0;
        @media (min-width: 1000px) {
          display: block;
          width: 100%;
          height: auto;
          padding: 0 0.5rem;
        }
      }
    }
  }
  .dd-item.collapsible ul {
    display: block;
  }
  .dd-item.collapsible.collapsed ul {
    display: none;
  }
  ~ .menu-toggler {
    position: fixed;
    top: var(--gd-header-height);
    width: 100%;
    background: #fff;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 600;
    z-index: 1;
    color: #111111;
    @media (min-width: 1000px) {
      display: none;
    }
  }
  ~ a.menu-toggler {
    text-decoration: none;
  }
}
@media (min-width: 1000px) {
  #sidebar,
  #sidebar.collapsed,
  #sidebar:not(.collapsed) {
    display: block;
    position: relative;
    width: 25%;
    margin-left: initial;
    box-shadow: none;
    margin-top: 5rem;
    z-index: 0;
  }
}
