// Font types
/*
This CSS resource incorporates links to font software which is 
the valuable copyrighted property of WebType LLC, The Font Bureau 
and/or their suppliers. You may not 
attempt to copy, install, redistribute, convert, modify or reverse 
engineer this font software. Please contact WebType with any 
questions: http://www.webtype.com 
*/
@font-face {
  font-family: "BentonSans";
  src: url("../fonts/Benton-Sans-Regular_WesternEurope/b36a47f4-8876-40cb-b31a-d02f16a88d78-2.eot");
  src: url("../fonts/Benton-Sans-Regular_WesternEurope/b36a47f4-8876-40cb-b31a-d02f16a88d78-2.eot?")
      format("embedded-opentype"),
    url("../fonts/Benton-Sans-Regular_WesternEurope/b36a47f4-8876-40cb-b31a-d02f16a88d78-3.woff")
      format("woff"),
    url("../fonts/Benton-Sans-Regular_WesternEurope/b36a47f4-8876-40cb-b31a-d02f16a88d78-1.ttf")
      format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "BentonSansMedium";
  src: url("../fonts/Benton-Sans-Medium_WesternEurope/71592d14-e584-4c00-bbb9-8f1da5b98bf9-2.eot");
  src: url("../fonts/Benton-Sans-Medium_WesternEurope/71592d14-e584-4c00-bbb9-8f1da5b98bf9-2.eot?")
      format("embedded-opentype"),
    url("../fonts/Benton-Sans-Medium_WesternEurope/71592d14-e584-4c00-bbb9-8f1da5b98bf9-3.woff")
      format("woff"),
    url("../fonts/Benton-Sans-Medium_WesternEurope/71592d14-e584-4c00-bbb9-8f1da5b98bf9-1.ttf")
      format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "BentonSansBook";
  src: url("../fonts/BentonSansBook/BentonSans-Book.woff2") format("woff2"),
    url("../fonts/BentonSansBook/BentonSans-Book.woff") format("woff"),
    url("../fonts/BentonSansBook/BentonSans-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BentonSansLight";
  src: url("../fonts/BentonSansLight/56fead03-cbb4-48e8-bc4c-512c795fc3c9-2.eot");
  src: url("../fonts/BentonSansLight/56fead03-cbb4-48e8-bc4c-512c795fc3c9-2.eot?")
      format("embedded-opentype"),
    url("../fonts/BentonSansLight/56fead03-cbb4-48e8-bc4c-512c795fc3c9-3.woff")
      format("woff"),
    url("../fonts/BentonSansLight/56fead03-cbb4-48e8-bc4c-512c795fc3c9-1.ttf")
      format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "BentonSansBold";
  src: url("../fonts/BentonSansBold/90a77a6d-79fe-4845-96a8-b6dadd7d52a4-2.eot");
  src: url("../fonts/BentonSansBold/90a77a6d-79fe-4845-96a8-b6dadd7d52a4-2.eot?")
      format("embedded-opentype"),
    url("../fonts/BentonSansBold/90a77a6d-79fe-4845-96a8-b6dadd7d52a4-3.woff")
      format("woff"),
    url("../fonts/BentonSansBold/90a77a6d-79fe-4845-96a8-b6dadd7d52a4-1.ttf")
      format("truetype");
  font-style: normal;
  font-weight: bold;
}
// Headings
h1,
h2 {
  font-family: $font-family-regular;
  word-break: break-word;
}
h3,
h4,
h5,
h6 {
  font-family: $font-family-book;
  word-break: break-word;
  letter-spacing: normal;
}
h1 {
  font-size: 3.3rem;
  @media (min-width: 750px) {
    font-size: 3.6rem;
  }
  @media (min-width: 1400px) {
    font-size: 4rem;
  }
}
h2 {
  font-size: 2.8rem;
  @media (min-width: 750px) {
    font-size: 3rem;
  }
  @media (min-width: 1400px) {
    font-size: 3.4rem;
  }
}
h3 {
  font-size: 2.3rem;
  @media (min-width: 750px) {
    font-size: 2.6rem;
  }
  @media (min-width: 1400px) {
    font-size: 3rem;
  }
}
h4 {
  font-size: 1.8rem;
  @media (min-width: 750px) {
    font-size: 1.9rem;
  }
  @media (min-width: 1400px) {
    font-size: 2rem;
  }
}
h5 {
  font-size: 1.3rem;
  @media (min-width: 750px) {
    font-size: 1.35rem;
  }
  @media (min-width: 1400px) {
    font-size: 1.4rem;
  }
}
h6 {
  font-size: 1.1rem;
  @media (min-width: 750px) {
    font-size: 1.25rem;
  }
  @media (min-width: 1400px) {
    font-size: 1.3rem;
  }
}
