/*
This CSS resource incorporates links to font software which is 
the valuable copyrighted property of WebType LLC, The Font Bureau 
and/or their suppliers. You may not 
attempt to copy, install, redistribute, convert, modify or reverse 
engineer this font software. Please contact WebType with any 
questions: http://www.webtype.com 
*/
@font-face {
  font-family: "BentonSans";
  src: url("../fonts/Benton-Sans-Regular_WesternEurope/b36a47f4-8876-40cb-b31a-d02f16a88d78-2.eot");
  src: url("../fonts/Benton-Sans-Regular_WesternEurope/b36a47f4-8876-40cb-b31a-d02f16a88d78-2.eot?")
      format("embedded-opentype"),
    url("../fonts/Benton-Sans-Regular_WesternEurope/b36a47f4-8876-40cb-b31a-d02f16a88d78-3.woff")
      format("woff"),
    url("../fonts/Benton-Sans-Regular_WesternEurope/b36a47f4-8876-40cb-b31a-d02f16a88d78-1.ttf")
      format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "BentonSansMedium";
  src: url("../fonts/Benton-Sans-Medium_WesternEurope/71592d14-e584-4c00-bbb9-8f1da5b98bf9-2.eot");
  src: url("../fonts/Benton-Sans-Medium_WesternEurope/71592d14-e584-4c00-bbb9-8f1da5b98bf9-2.eot?")
      format("embedded-opentype"),
    url("../fonts/Benton-Sans-Medium_WesternEurope/71592d14-e584-4c00-bbb9-8f1da5b98bf9-3.woff")
      format("woff"),
    url("../fonts/Benton-Sans-Medium_WesternEurope/71592d14-e584-4c00-bbb9-8f1da5b98bf9-1.ttf")
      format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "BentonSansBook";
  src: url("../fonts/BentonSansBook/BentonSans-Book.woff2") format("woff2"),
    url("../fonts/BentonSansBook/BentonSans-Book.woff") format("woff"),
    url("../fonts/BentonSansBook/BentonSans-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BentonSansLight";
  src: url("../fonts/BentonSansLight/56fead03-cbb4-48e8-bc4c-512c795fc3c9-2.eot");
  src: url("../fonts/BentonSansLight/56fead03-cbb4-48e8-bc4c-512c795fc3c9-2.eot?")
      format("embedded-opentype"),
    url("../fonts/BentonSansLight/56fead03-cbb4-48e8-bc4c-512c795fc3c9-3.woff")
      format("woff"),
    url("../fonts/BentonSansLight/56fead03-cbb4-48e8-bc4c-512c795fc3c9-1.ttf")
      format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "BentonSansBold";
  src: url("../fonts/BentonSansBold/90a77a6d-79fe-4845-96a8-b6dadd7d52a4-2.eot");
  src: url("../fonts/BentonSansBold/90a77a6d-79fe-4845-96a8-b6dadd7d52a4-2.eot?")
      format("embedded-opentype"),
    url("../fonts/BentonSansBold/90a77a6d-79fe-4845-96a8-b6dadd7d52a4-3.woff")
      format("woff"),
    url("../fonts/BentonSansBold/90a77a6d-79fe-4845-96a8-b6dadd7d52a4-1.ttf")
      format("truetype");
  font-style: normal;
  font-weight: bold;
}
/* .main {
  margin-top: var(--header-height);
} */
/* For devices larger than 400px */
/* .search-box .nav-button.close:hover {
  border-color: transparent;
}

.search-box .input {
  flex: 1 0 auto;
  margin: 13px 0 12px;
  border-radius: 0px;
}

.search-box .input,
.search-box .nav-button.close {
  display: none;
}

.search-box .nav-button.search {
  display: inline-block;
}

.navigation.search-active .logo .title {
  display: block;
}

.navigation.search-active .search-box {
  position: fixed;
  top: var(--header-height);
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-width: inherit;
  padding: 20% 5%;
  background-color: #fff;
}

@media (min-width: 1000px) {
  .navigation.search-active .search-box {
    position: relative;
    top: initial;
  }
}

.navigation.search-active .links,
.navigation.search-active .nav-button {
  display: none;
}

.navigation.search-active .search-box .input,
.navigation.search-active .search-box .nav-button.close {
  display: inline-block;
  width: initial;
}

.navigation.search-active .search-box .nav-button.close {
  color: var(--color-emphasis);
}

.search-box .nav-button.close {
  font-size: 20px;
}
.search-box .nav-button.close .icon-close {
  font-size: inherit;
  line-height: inherit;
} */
/* second level navigation in mobile */
/* Do not show second level navigation on small screens */
:root {
  --color-font: #222222;
  --color-emphasis: #ec682a;
  --header-height: 63px;
  --footer-title-color: #fff;
  --font-family-regular: BentonSans, sans-serif;
  --font-family-light: BentonSansLight, sans-serif;
  --font-family-medium: BentonSansMedium, sans-serif;
  --font-family-book: BentonSansBook, sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  font-family: var(--font-family-regular);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  color: var(--color-font);
}
.brandingColor {
  color: var(--color-emphasis);
}
a {
  color: var(--color-emphasis);
  text-decoration: none;
  font-family: var(--font-family-regular);
  &:hover {
    color: var(--color-emphasis);
    text-decoration: underline;
  }
}
.image {
  width: 100%;
  height: auto;
}
.container {
  max-width: 1200px;
}
.title-1 {
  font-weight: normal;
  letter-spacing: 0;
  margin-bottom: 0;
  font-size: 45px;
  line-height: 1.2;
  &:not(.has-subtitle) {
    margin-bottom: 1em;
  }
}
.title-2 {
  font-weight: normal;
  letter-spacing: 0;
  margin-bottom: 0;
  font-size: 25px;
  line-height: 1.2;
  &:not(.has-subtitle) {
    margin-bottom: 42px;
  }
}
.sub-title {
  font-weight: normal;
  letter-spacing: 0;
  margin-bottom: 0;
  font-family: var(--font-family-book);
  font-size: 18px;
  line-height: 1.65;
  margin-top: 12px;
}
.title-3 {
  font-size: 20px;
  line-height: 1.2;
}
b {
  font-family: BentonSansMedium, sans-serif;
}
strong {
  font-family: BentonSansMedium, sans-serif;
}
.sub-title {
  &.has-small-margin-bottom {
    margin-bottom: 1.2em;
  }
  &.no-margin-bottom {
    margin-bottom: 0;
  }
}
.is-centered {
  text-align: center;
}
a.btn {
  display: inline-block !important;
}
.btn {
  display: inline-block;
  position: relative;
  padding: 10px 16px !important;
  border-radius: 28px !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  font-family: var(--font-family-regular), sans-serif !important;
  font-size: 13px !important;
  line-height: 1.1 !important;
  vertical-align: middle !important;
  text-decoration: none !important;
  transition: all 0.5s !important;
  overflow: hidden;
}
.btn.primary {
  color: #fff !important;
  border: 1px solid var(--color-emphasis) !important;
  background-color: var(--color-emphasis) !important;
  &:hover {
    border: 1px solid var(--color-emphasis) !important;
    background: var(--color-emphasis) !important;
    color: #fff !important;
  }
}
@media (min-width: 400px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 550px) {
  .title-2 {
    font-size: 30px;
  }
  .title-3 {
    font-size: 24px;
  }
}
@media (min-width: 750px) {
  .title-2 {
    font-size: 36px;
  }
  .title-3 {
    font-size: 28px;
  }
  .sub-title {
    font-size: 20px;
  }
}

@import "tln";
@import "sln";
@import "footer";