.td-blog, .td-page, .td-section {
    .td-page-meta > .git-wr {
        min-height: 58px;
    }

    main {
        h1 {
            font-size: 2.4rem;
            font-weight: 300;
        }

        h2 {
            font-size: 2rem;
            font-weight: 300;
        }

        h3 {
            font-size: 1.8rem;
            font-weight: 300;
        }

        p {
            font-size: 1rem;
            font-weight: 400;
        }
    }

    .td-rss-button {
        top: 2rem;

        @media (max-width: 768px) {
            display: none !important;
        }
    }
}
