{{ define "page-content"}}
  {{ $style := resources.Get "sass/blog.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  <script src="/js/moment.js"></script>
  <style>
    .fixedsticky {
      position: sticky!important;
      top: 0;
      z-index: 1;
      background: #03ce9a;
    }
  </style>
  <div class="page blogs">
    <!-- Ranges through content/blog/*.md -->
    {{ with .Site.GetPage "blog" }}
    {{ range $index, $page :=  ((sort .Pages ".Dir" "desc")) }}
    {{if $page.Params.aggregate }}
    {{else}}
    <article class="post row" data-path="">
        <div class="wrapper">
            <div class="one column">
                <img src="{{ trim (partial "git_avatar.html" .) " \n" }}"
                    class="user-icon icons"
                    alt="user-image">
            </div>
            <div class="nine columns">
                <h2>{{ .Title }}</h2>
                <h3><div class="last-update">Updated <span>{{ partial "git_date.html" . }}</span> by {{ partial "git_author.html" . }}</div></h3>
                <p>
                    {{.Content}}
                </p>
            </div>
        </div>
    </article>
    {{end}}
    {{end}}
    {{end}}
  </div>
<script src="/js/modernizr.custom.min.js"></script>
<script src="/js/jsrender.min.js"></script>
<script src="/js/main.js"></script>

{{ end }}