{{ define "main" }}
{{ if .Parent.IsHome }}
{{ $.Scratch.Set "blog-pages" (where .Site.RegularPages "Section" .Section) }}
{{ else }}
{{$.Scratch.Set "blog-pages" .Pages }}
{{ end }}

<div class="row">
	<div class="col-12">
		{{- if .Pages -}}
		{{ $pag := (( $.Scratch.Get "blog-pages").GroupByDate "2006")}}
			{{ range $pag }}
                {{ $empty := true}}
                {{ range .Pages }}
                    {{ $expired := false }}
                    {{ with .Params.archivedate }}
                        {{ $exp := time . }}
                        {{ $expired = $exp.Before now }}
                        {{if not $expired}}
                            {{ $empty = false }}
                        {{end}}
                    {{ else }} 
                        {{ $empty = false }}
                    {{ end }}
                    
                {{ end }}
                {{ if not $empty }}
                    <h2>{{ T "post_posts_in" }} {{ .Key }}</h2>
                    <ul class="list-unstyled mt-4">
                        {{ range .Pages }}
                            {{ $expired := false }}
                            {{ with .Params.archivedate }}
                                {{ $exp := time . }}
                                {{ $expired = $exp.Before now }}
                                
                            {{ end }}
                            {{if not $expired }}
                            <li class="media mb-4">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
                                    <p class="mb-2 mb-md-3"><small class="text-muted">{{ .Date.Format ($.Param "time_format_blog") }} {{ T "ui_in"}} {{ .CurrentSection.LinkTitle }}</small></p>
                                    <header class="article-meta">
                                        {{ partial "taxonomy_terms_article_wrapper.html" . }}
                                        {{ if (and (not .Params.hide_readingtime) (.Site.Params.ui.readingtime.enable)) }}
                                            {{ partial "reading-time.html" . }}
                                        {{ end }}
                                    </header>
                                    {{ partial "featured-image.html" (dict "p" . "w" 250 "h" 125 "class" "float-left mr-3 pt-1 d-none d-md-block") }}
                                    <p class="pt-0 mt-0">{{ .Plain | safeHTML | truncate 250 }}</p>
                                    <p class="pt-0"><a href="{{ .RelPermalink }}" aria-label="{{ T "ui_read_more"}} - {{ .LinkTitle }}">{{ T "ui_read_more"}}</a></p>
                                </div>
                            </li>
                            {{ end }}
                        {{ end }}
                    </ul>
                {{ end }}
			{{ end }}
		{{ end }}
	</div>
</div>

{{ end }}