{{ define "page-content"}}
  {{ $style := resources.Get "sass/blog.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  <script src="/js/moment.js"></script>
  <style>
    .fixedsticky {
      position: sticky!important;
      top: 0;
      z-index: 1;
      background: #03ce9a;
    }
    .blogs .author {
      display: block;
      font-size: 1.3rem;
      text-align: center;
      line-height: 1;
      margin: 10px 0 5px;
    }
    .blogs .publishdate {
      display: block;
      font-size: 1.3rem;
      text-align: center;
      line-height: 1;
    }
  </style>
  <div class="page blogs">
    <!-- Ranges through content/blog/*.md -->
    {{ with .Site.GetPage "blog" }}
    {{ range $index, $page :=  ((sort .Pages ".Dir" "desc")) }}
    {{if $page.Params.aggregate }}
    {{else}}
    <article class="post row" data-path="">
        <div class="wrapper">
            <div class="two columns">
                <img {{ printf "src=%q" (trim (partial "git_avatar.html" .) " \r\n") | safeHTMLAttr }}
                    {{ printf "title=%q" (trim (partial "git_author.html" .) " \r\n") | safeHTMLAttr }}
                    class="user-icon icons"
                    alt="blog author avatar">
                <span class="author">{{(trim (partial "git_author.html" .) " \r\n") | safeHTML}}</span>
                <span class="publishdate">{{ partial "git_date.html" . }}</span>
            </div>
            <div class="ten columns">
                <h2>{{ .Title }}</h2>
                <p>
                    {{.Content}}
                </p>
            </div>
        </div>
    </article>
    {{end}}
    {{end}}
    {{end}}
  </div>
<script src="/js/modernizr.custom.min.js"></script>
<script src="/js/jsrender.min.js"></script>
<script src="/js/main.js"></script>

{{ end }}