<!DOCTYPE html>
<html lang="{{ .Page.Language | default "en" }}" class="js csstransforms3d">

  {{ partial "head.html" . }}

  <body data-url="{{ .RelPermalink }}" class="has-sticky-navigation">
      
    {{ partial "tln.html" . }}
    {{ block "hero" . }}{{ end }}
    {{ block "sln" . }}{{ end }}
    
    <div class="main container">
      {{ block "sidebar" . }}{{ end }}
      <section>
        {{/*  <div id="overlay"></div>  */}}
        <div class="highlightable body-inner-wrapper">
          {{/*  {{ block "page-hero" . }}{{ end }}  */}}
          {{ block "page-topbar" . }}{{ end }}
          <div id="body-inner" class="{{if .Params.remote}}external{{end}}">
            {{ block "page-content" . }}
            {{ .Content }}
            {{ end }}            
          </div>
        </div>
        {{ block "page-feedback" . }}{{ end }}
      </section>
      {{/*  <div style="left: -1000px; overflow: scroll; position: absolute; top: -1000px; border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;">
        <div style="border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;"></div>
      </div>  */}}
    </div>
    {{- partial "footer.html" . -}}
    {{ partial "tail-scripts.html" . }}
    {{ block "tails-scripts-custom" . }}{{ end }}
  </body>
</html>