<style> aside, nav.td-breadcrumbs, .td-sidebar-toc {display: none !important; min-width: 0 !important; }  .main-content-container { justify-content: center; } .bio {text-align: center;} </style>
<div class="bio">
    <img src='{{"images/gardener-logo-light.svg" | relURL}}' alt="Logo" class="logo">

    <h3>Gardener</h3>
    <a>Homogeneous Kubernetes clusters at scale on any infrastructure.</a>
        <div class="social">
            <a target="_blank" href="https://www.youtube.com/@GardenerProject">
                <img src='{{"images/community/youtube-logo-green.svg" | relURL}}' class="bio-icon" />
            </a>
            <a target="_blank" href="https://x.com/GardenerProject">
                <img src='{{"images/community/x-logo-green.svg" | relURL}}' class="bio-icon" />
            </a>
        </div>
        <div class="blocks">
            <a href="/" target="_blank">
                <div class="block">
                    <img src='{{"images/gardener-logo.svg" | relURL}}' class="bio-icon" alt="GitHub Logo" />
                    Home page
                </div>
            </a>
            <a href="https://github.com/gardener" target="_blank">
                <div class="block">
                    <img src='{{"images/community/github-mark-logo-green.svg" | relURL}}' class="bio-icon" alt="GitHub Logo" />
                    Github
                </div>
            </a>
            <a href="https://gardener-cloud.slack.com" target="_blank">
                <div class="block">
                    <img src='{{"images/community/slack-logo-green.svg" | relURL}}' class="bio-icon" alt="GitHub Logo" />
                    Slack
                </div>
            </a>
            <a href="https://www.youtube.com/watch?v=uMZTYFb2_tY" target="_blank">
                <div class="block">
                    <img src='{{"images/community/youtube-logo-green.svg" | relURL}}' class="bio-icon" alt="GitHub Logo" />
                    Gardener in 25 seconds
                </div>
            </a>
            <a href="/adopter" target="_blank">
                <div class="block">
                    <img src='{{"images/community/comms-community-meetings.svg" | relURL}}' class="bio-icon" alt="GitHub Logo" />
                    Adopters
                </div>
            </a>
        </div>
</div>