<!-- {{/*
Usage: {{% img "title" "URL" %}}
*/}}-->
{{ if (strings.HasSuffix  (.Get 1) ".svg" )}}
    <object type="image/svg+xml" data="{{ .Get 1 }}" style=";visibility:hidden; margin: 3rem auto;display: block;" class="inline reveal-fast drop-shadow"></object>
{{else}}
<figure>
    <img src="{{ .Get 1 }}" title="{{.Get 0}}" class="drop-shadow reveal-fast" style="max-width:500px;visibility:hidden"/>
    <figcaption style="text-align: center;font-style: italic;">{{.Get 0}}</figcaption>
</figure>

{{end}}
