{{ $scratch := newScratch }}

{{- with (.Get "dir") -}}
{{- $files := readDir (print "content/" $.Page.File.Dir . ) }}

{{ $prefix := replace (replace . "./" "") "/" "-" }}
{{range $files }}
{{if (strings.HasSuffix  .Name ".png" ) }}
{{ $scratch.Add "images" (slice .) }}
{{end}}
{{ end }}

<div class="sheetSlider sh-default drop-shadow">
    {{- range $index, $file := ($scratch.Get "images") -}}
    <input id="{{$prefix}}s{{$index}}" type="radio" name="{{$prefix}}slide1" {{ if eq $index 0 }}checked{{ end }}/>
    {{- end }}

    <div class="sh__content">
        {{- range $index, $file := ($scratch.Get "images") -}}
        {{- $absoluteUrl := print $.Page.Dir ($.Get "dir") "/" $file.Name | absURL }}
        <div class="sh__item"><img src="{{ $absoluteUrl }}"/></div>
        {{- end }}
    </div>


    <!--botones -->
    <div class="sh__btns">
        {{- range $index, $file := ($scratch.Get "images") -}}
        <label for="{{$prefix}}s{{$index}}"></label>
        {{- end }}
    </div><!-- .sh__btns -->

    <div class="sh__arrows">
        {{- range $index, $file := ($scratch.Get "images") -}}
        <label for="{{$prefix}}s{{$index}}"></label>
        {{- end }}
    </div>
</div>

{{- end }}
