.container.small-container {
  max-width: 800px;
}

.container.extra-small-container {
  max-width: 560px;
}

.container.extra-small-container.has-icon {
  position: relative;
}

.has-icon:before {
  display: inline-block;
  position: relative;
  top: 23px;
  margin-right: 15px;
  content: "";
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #fff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  box-shadow: 0 0 14px 0 rgba(99, 117, 131, 0.2);
}

.responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
}

.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#hero {
  display: flex;
  align-items: center;
  width: 100%;
  padding: calc(var(--header-height) + 5vh) 0 2vh;
  background-image: url(../images/lp/lp-header-green-8.svg);
  background-position: 90% top;
  background-size: cover;
  background-color: #099e75;
  background-repeat: no-repeat;
  margin-bottom: -1px;
}

#hero .container > .content {
  display: flex;
}

.hero-img {
  flex: 1 0 50%;
  display: none;
  text-align: right;
  position: relative;
}

.hero-img img {
  display: inline-block;
  /* width: 100%; */
  height: auto;
  max-height: 323px;
}

.hero-text {
  flex: 1 0 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  color: #fff;
}

.hero-text .wr {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 15px;
}

.hero-text .title-2 {
  text-transform: uppercase;
  line-height: 1.2;
  font-family: BentonSansBold;
  font-size: 12px;
  letter-spacing: 0.86px;
  margin-bottom: 1.5rem;
}

.hero-text .sub-title {
  width: 100%;
  text-align: center;
  font-size: 2.3rem;
  line-height: 1.3;
  margin-bottom: 1.5rem;
}

.hero-text .sub {
  font-size: 1.5rem;
}

.hero-text .sub a {
  color: var(--color-font);
  font-family: BentonSans;
}

.hero-text img {
  width: 100%;
  height: auto;
  max-width: 70px;
  margin-bottom: 30px;
}

.hero-text .hero-actions {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.hero-text .hero-actions > :first-child {
  margin-bottom: 20px;
}

.hero-text .action-btn.movie > :first-child {
  margin-right: 10px;
}

.hero-text .action-btn.movie {
  background-color: #007db8;
}

.hero-text .action-btn.movie:hover {
  background-color: #f0ab00;
}

.hero-text .action-btn {
  display: inline-block;
  position: relative;
  padding: 10px 40px;
  border-radius: 28px;
  background-color: var(--color-emphasis);
  color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  font-family: var(--font-family-regular);
  font-size: 16px;
  text-decoration: none;
  transition: all 0.5s;
  overflow: hidden;
}

.hero-text .action-btn:hover {
  background: #004d3a;
}

@media (min-width: 750px) {
  .hero-img {
    display: block;
  }
  .hero-text {
    padding-top: 4rem;
    align-items: flex-start;
    justify-content: space-between;
  }
  .hero-text .wr {
    padding-right: 25px;
    align-items: flex-start;
  }
  .hero-text .title-2 {
    font-size: 1.3rem;
  }
  .hero-text .sub-title {
    font-size: 2.8rem;
    line-height: 1.2;
    text-align: left;
  }
  .hero-text .sub {
    font-size: 1.4rem;
  }
  .hero-text img {
    display: none;
  }
  .hero-text .hero-actions {
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 130%;
  }
  .hero-text .hero-actions > :first-child {
    margin-right: 20px;
    margin-bottom: 0;
  }
}

@media (min-width: 1000px) {
  #hero {
    padding-bottom: 1.5rem;
    /* max-height: calc(100vh - 123px); */
  }
  body.has-sticky-navigation #hero {
    margin-bottom: 60px;
  }
  .hero-text .wr {
    padding-right: 0;
  }
  .hero-text .title-2 {
    font-size: 1.4rem;
  }
  .hero-text .sub-title {
    font-size: 4rem;
    line-height: 1.2;
  }
  .hero-text .sub {
    font-size: 1.5rem;
  }
}

.landingpage .section {
  position: relative;
  padding: 84px 0;
}

.landingpage .section.papercut {
  background: linear-gradient(180deg, #FFFFFF 85%, #F1F1F1 100%);
  background-color: #fff;
}

.landingpage .section.has-dark-bg {
  background-color: #edf8f5;
  background-image: url('../images/lp/bgr-wave.svg');
  background-repeat: no-repeat;
  background-position: 10% center;
  background-size: cover;
}

/* .landingpage .section.papercut .container:last-child {
  margin-bottom: 50px;
} */

.landingpage .section-title {
  text-align: center;
  margin-bottom: 1.5em;
}
.landingpage .section-title.title-3 {
  text-align: center;
  margin-bottom: 1em;
}

.landingpage .section-title + .sub-title {
  margin-top: -0.5em;
}

/* .landingpage .section > .container:last-child > *:last-child {
  margin-bottom: 0 !important;
} */

.landingpage .section .container {
  display: flex;
  flex-flow: column;
}

.landingpage .section .content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
  text-align: initial;
}

.landingpage .section .sub-title+.content,
.landingpage .section .title-2+.content {
  margin-top: 55px;
}

.landingpage .section .content .subtitle {
  font-family: var(--font-family-regular);
  font-size: 20px;
  line-height: 1.6;
  color: #222;
}
.landingpage .section .content .subtitle + p {
  font-family: var(--font-family-light);
  font-size: 16px;
  line-height: 1.3;
  color: #111;
}

.landingpage .section .content .strong-points {
  position: relative;
  top: 40px;
  margin-left: 0;
  padding: 30px;
  width: 60%;
  background: #006B50;
  border-radius: 15px;
  z-index: 1;
}
.landingpage .section .content .strong-points.right {
  left: -50px;
}
.landingpage .section .content .strong-points.left {
  right: -50px;
}
.landingpage .section .content .strong-points div * {
  color: #fff;
}
.landingpage .section .content .strong-points + .image {
  position: relative;
  margin: 0;
  /* width: 54%;*/
}
.landingpage .section .content .strong-points.right + .image {
  right: -40px;
  /* width: 54%;*/
}
.landingpage .section .content .strong-points.left + .image {
  left: -40px;
}


.landingpage .section .call-for-action {
  font-family: var(--font-family-regular);
  font-size: 20px;   /*move ot 750px media query. copy from sub-title*/
  line-height: 2.4;
  letter-spacing: 0;
  text-decoration-color: var(--color-emphasis);
  color: #222;
}
.landingpage .section .call-for-action:after {
  content: url('../images/icons/arrow.svg');
  margin-left: 10px;
}

.landingpage .section .title-2 a {
  margin-left: 10px;
  text-decoration: none;
  font-weight: 800; /* Move to using svg/font icon instead of &rarr; */
}

.scroll-anchor {
  position: absolute;
  top: -70px;
}

@media (min-width: 750px) {
  .landingpage .section {
    padding: 6rem 0 3rem;
  }

  .landingpage .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1000px) {
  .landingpage .section {
    padding: 85px 0 100px;
  }
  .navigation.search-active .search-box {
    height: auto;
    width: auto;
    min-width: inherit;
    max-width: inherit;
    padding: 0;
    margin: 0 auto;
    background-color: inherit;
  }
}


.highlights .row:not(:first-of-type) {
  margin-top: 45px;
}

.landingpage .section.highlights {
    padding-bottom: 100px;
    background: linear-gradient(
        90.16deg, 
        #13BD8D 6.68%,
        #15D19C 92.78%);
    color: #fff;
}

.landingpage .highlights .sub-title {
  margin-bottom: 10px;
  line-height: 1.3;
  font-size: 22px;
  /* font-weight: 600; */
}

.landingpage .highlights .sub-title + div {
  font-family: var(--font-family-light);
  font-size: 18px;
  line-height: 1.3;
  padding: 0 40px;
}

#section01 {
  height: 0;
}

.highlights-banner {
  position: relative;
  z-index: 1;
  width: 75%;
  top: -55px;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 22px 0px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.highlights-banner .banner-item {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 0 10px;
}

.highlights-banner .banner-item .icon {
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  max-height: 69px;
  min-height: 38px;
}

.highlights-banner .banner-item .icon-title {
  font-size: 17.164px;
  line-height: 20px;
  text-align: center;
  font-family: var(--font-family-regular);
}

.landingpage #section01 + .section {
  padding-top: 140px;
}

.landingpage #section02 .image {
  width: 100%;
  height: auto;
  min-width: 300px;
  max-width: 500px;
}
.landingpage #section02 {
  padding-bottom: 50px;
}
.landingpage #section02a {
  padding-top: 50px;
}

.landingpage #section02a .content .sub-title {
  font-family: var(--font-family-regular);
}

.landingpage #section02a .content div {
  font-family: var(--font-family-book);
}

.landingpage #section03 .content {
  justify-content: center;
}
/* .landingpage #section03 .content > :not(:first-child) {
  margin-left: 0;
} */

/*.landingpage #section03 img {
   max-width:300px;
  height:auto;
  width:100%; 
  margin-right: 40px;
}*/

.landingpage #section04 #platforms-yours {
  font-size: 4rem;
  color: var(--color-emphasis);
}

.landingpage #section04 .row {
  overflow: auto;
}
.landingpage .platforms-container {
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.landingpage .platforms-container li {
  list-style: none;
  /* flex: 1; */
  /* text-align: left;*/
  font-size: 12px;
  margin: 0;
  padding: 40px 25px;
  line-height: 1.5;
}
.landingpage .platform-icon {
  height: 40px;
}
.landingpage .platform-icon {
  filter: grayscale(.8) opacity(.85);
}
.landingpage .platform-icon.emphasized {
  height:auto;
  filter: none;
  margin-top: -25px;
}
.landingpage #section05 .image-wrapper {
  text-align: center;
}

.landingpage #section05 #section05-img-placeholder {
  margin-top:2.5rem;
}
.landingpage #section05 .image-wrapper.perspective {
    perspective: 350px;
}

.landingpage #section05 .image-wrapper.perspective img {
  width: 100%;
  max-width: 600px; 
  border-radius: 4px;
  transform: rotateY(30deg) translateY(-25px) translateX(100px);
}

.landingpage #section05 .image-wrapper:not(.perspective) img {
  max-width:150px;
}

.landingpage #section06 {
  background: linear-gradient(91.39deg, 
    #EDF8F5 4.26%, 
    rgba(237, 248, 245, 0.18) 25.87%, 
    rgba(237, 248, 245, 0.18) 75.64%, 
    #EDF8F5 94.09%);
} 
.landingpage #section06 .content > .column {
  text-align: center;
}
.landingpage #section06 .content .image {
  max-width: 250px;
}

.landingpage #section07 {
  padding-top: 70px;
}

.landingpage #section07 .success-stories .column {
  text-align: center;
  margin: auto 0;
}

.landingpage #section07 .success-stories .image {
  max-width: 250px;
}

.landingpage #section07 .contacts .column {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.landingpage #section07 .contacts .image {
  max-width: 40px;
  display:inline-block;
  margin-right: 10px;
}

.landingpage #section07 .contacts span {
  font-size: 20px;
  color: #515151;
}
