{{ define "page-topbar" }}
  <!--a href="{{ "news" | relURL}}" class="nav-link"><span class="icon-arrow-left"></span> Back to news</a>
  <a href="#" class="tool-btn copy" data-clipboard-text="{{.URL | relURL}}" title="Copy the link to this news"><span class="fa fa-clone"></span></a-->
{{ end }}
{{ define "page-content" }}
  <a href="{{ "news" | relURL}}" class="nav-link"><span class="icon-arrow-left"></span> Back to news</a>
  <div class="page">
    {{ .Content }}
  </div>
  <!-- <a href="{{ "news" | relURL}}" class="nav-link"><span class="icon-arrow-left"></span> Back to news</a> -->
{{ end }}
{{define "tails-scripts-custom" }}
<!--
  <script src="/js/modernizr.custom.min.js"></script>
  <script src="/js/jsrender.min.js"></script>
  <script src="/js/main.js"></script>
  <script>
    $(document).ready(function(){
      $('.clipboard-copy').click(function(e){
        e.preventDefault();
      });
    })
  </script>
-->
{{end}}