{{ define "page-topbar" }}
  <!--a href="{{ "news" | relURL}}" class="nav-link"><span class="icon-arrow-left"></span> Back to news</a>
  <a href="#" class="tool-btn copy" data-clipboard-text="{{.URL | relURL}}" title="Copy the link to this news"><span class="fa fa-clone"></span></a-->
{{ end }}
{{ define "page-content" }}
  <div class="page">
    <div class="top-bar">
      <a href="{{ "news" | relURL}}" class="nav-link back">Back to news</a>
    </div>
    {{ .Content }}
    <div class="share-ribbon">
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="{{ .Title }}" data-url="{{.URL | absURL}}" data-hashtags="GardenerProject" data-dnt="true" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <script type="IN/Share" data-url="{{.Permalink}}"></script>
      <!--button class="btn copy-url clipboard-copy" data-clipboard-text="{{.URL | absURL}}" href="{{.URL | absURL}}"><i class="fa fa-copy"></i></button-->
    </div>
  </div>
  <!-- <a href="{{ "news" | relURL}}" class="nav-link"><span class="icon-arrow-left"></span> Back to news</a> -->
{{ end }}
{{define "tails-scripts-custom" }}
<!--
  <script src="/js/modernizr.custom.min.js"></script>
  <script src="/js/jsrender.min.js"></script>
  <script src="/js/main.js"></script>
  <script>
    $(document).ready(function(){
      $('.clipboard-copy').click(function(e){
        e.preventDefault();
      });
    })
  </script>
-->
{{end}}